{%- assign details_title = "account.details" | t -%}
{%- assign formatted_title = bm_login_title | sha1 -%}
{%- assign title_id = bm_login_title | handleize | append: '-' | append: formatted_title -%}

{%- capture addresses_count %} ({{ customer.addresses_count }}){% endcapture -%}

<div class="bm-account__details" aria-label="{{ details_title }}">

  {%- render 'bm-title-block',
    title_content: details_title,
    title_font: "ff-ivypresto",
    title_id: title_id,
    title_margin: "mb-3",
    title_size: "fs-3",
    title_tag: "h3" -%}


  <div class="bm-account__details-container" aria-labelledby="{{ title_id }}">
    {%- if customer.default_address != blank -%}
        {{ customer.default_address | format_address }}

        <p>

          {%- assign view_addresses_title = 'account.view_addresses' | t | append: addresses_count -%}

          {%- render 'bm-link',
            bm_link_title: view_addresses_title,
            bm_link_classes: "opacity-hover",
            bm_link_url: routes.account_addresses_url,
            bm_link_content: view_addresses_title -%}

        </p>

      {%- else -%}
        <p>

          {%- assign add_addresses_title = 'addresses.add_new' | t -%}

          {%- render 'site-link',
            site_link_title: add_addresses_title,
            site_link_classes: "hover-opacity",
            site_link_url: routes.account_addresses_url,
            site_link_content: add_addresses_title -%}

        </p>
    {%- endif -%}

  </div>
</div>
