{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

{%- if is_a_section -%}
  <section
    class="banner-item-rows {{ section_margin -}}

      {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

      {%- if is_a_carousel %} banner-item-rows-carousel{%- endif -%}

      {%- if show_background -%}
        {%- if enable_contain %} py-3 py-xl-5
          {%- else %} p-3 p-xl-5
        {%- endif -%}
      {%- endif -%}"

    {%- if show_background -%}
      style="background-color: {{- background_color -}};"
    {%- endif -%}
  >
  {%- else -%}
    <div
      class="banner-item-rows {{ section_margin -}}

        {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

        {%- if is_a_carousel %} banner-item-rows-carousel{%- endif -%}

        {%- if show_background -%}
          {%- if enable_contain %} py-3 py-xl-5
            {%- else %} p-3 p-xl-5
          {%- endif -%}
        {%- endif -%}"

      {%- if show_background -%}
        style="background-color: {{- background_color -}};"
      {%- endif -%}
    >
{%- endif -%}

  {%- render 'banner-item-rows-main',
    border_bottom: border_bottom,
    border_color: border_color,
    border_left: border_left,
    border_right: border_right,
    border_top: border_top,
    border_size: border_size,
    enable_borders: enable_borders,
    enable_contain: enable_contain,
    enable_full_width: enable_full_width,
    enable_item_gap: enable_item_gap,
    is_a_carousel: is_a_carousel,
    item_widths_desk: item_widths_desk,
    item_widths_max: item_widths_max,
    item_widths_phone: item_widths_phone,
    item_widths_tablet: item_widths_tablet,
    show_background: show_background
    section_blocks: section_blocks -%}

{%- if is_a_section -%}
  </section>
  {%- else -%}
    </div>
{%- endif -%}
