{%- if description_content != blank -%}
  {%- assign desc_title = "products.description" | t -%}
  {%- assign more_title = "products.read_more" | t -%}
  {%- assign formatted_title = desc_title | sha1 -%}
  {%- assign title_labelledby = "accordion-title-" | append: formatted_title -%}
  {%- assign data_target = "accordion-" | append: formatted_title -%}

  <div class="bm-prod-description border-top border-bottom border-color-grey-10 mt-0">

    {%- render 'bm-title-block',
      title_classes: "pt-4".
      title_content: desc_title,
      title_margin: "mb-4",
      title_tag: "h2",
      title_size: "fs-6",
      title_weight: "fw-bold" -%}

    <div
      class="accordion-item accordion-item__peak"
    >

      <div
        id="{{- data_target -}}"
        class="accordion-item__content peak-accordion"
        aria-labelledby="{{- title_labelledby -}}"
        aria-hidden="true"
      >

        {%- render 'bm-message-block',
          message_classes: "mb-0 pb-2",
          message_content: description_content,
          message_has_html: true -%}

      </div>

      <button
        class="accordion-item__title-button bm-btn bm-btn--no-styles d-flex align-items-center justify-content-between col-12 px-0 py-4 closed-accordion"
        type="button"
        data-target="{{- data_target -}}"
        aria-controls="{{- data_target -}}"
        aria-expanded="false"
      >

        {%- render 'bm-title-block',
          title_classes: "mb-0 text-decoration-underline",
          title_content: more_title,
          title_tag: "text",
          title_weight: "fw-bold" -%}

      </button>
    </div>
  </div>
{%- endif -%}



