{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

{%- if bm_spacing_phone == blank -%}
  {%- assign bm_spacing_phone = "pb-5" -%}
{%- endif -%}

{%- if bm_spacing_tablet == blank -%}
  {%- assign bm_spacing_tablet = "pb-sm-5" -%}
{%- endif -%}

{%- if bm_spacing_desk == blank -%}
  {%- assign bm_spacing_desk = "pb-xl-5" -%}
{%- endif -%}

<div
  class="bm-spacing"

  {%- if show_background -%}
    style="background-color: {{- background_color -}};"
  {%- endif -%}
>
  <div class="{{ bm_spacing_phone }} {{ bm_spacing_tablet }} {{ bm_spacing_desk }}"></div>
</div>
