{%- if title_content != blank -%}
  {%- if title_tag == blank -%}
    {%- assign title_tag = "h3" -%}
  {%- endif -%}

  {%- if title_link != blank -%}
    <a class="bm-link text-decoration-none" href="{{ title_link }}">
  {%- endif -%}

  {%- case title_tag -%}
    {%- when "h1" -%}

      {%- render 'bm-title-block-h1',
        enable_title_styles: enable_title_styles,
        title_alignment_desk: title_alignment_desk,
        title_alignment_phone: title_alignment_phone,
        title_alignment_tablet: title_alignment_tablet,
        title_background_color: title_background_color,
        title_classes: title_classes,
        title_color: title_color,
        title_content: title_content,
        title_font: title_font,
        title_id: title_id,
        title_italic: title_italic,
        title_is_page_title: title_is_page_title,
        title_labelledby: title_labelledby,
        title_margin: title_margin,
        title_size: title_size,
        title_size_tablet: title_size_tablet,
        title_size_desk: title_size_desk,
        title_tag: title_tag,
        title_visibility: title_visibility,
        title_weight: title_weight -%}

    {%- when "h2" -%}

      {%- render 'bm-title-block-h2',
        enable_title_styles: enable_title_styles,
        title_alignment_desk: title_alignment_desk,
        title_alignment_phone: title_alignment_phone,
        title_alignment_tablet: title_alignment_tablet,
        title_background_color: title_background_color,
        title_classes: title_classes,
        title_color: title_color,
        title_content: title_content,
        title_font: title_font,
        title_id: title_id,
        title_italic: title_italic,
        title_is_page_title: title_is_page_title,
        title_labelledby: title_labelledby,
        title_margin: title_margin,
        title_size: title_size,
        title_size_tablet: title_size_tablet,
        title_size_desk: title_size_desk,
        title_tag: title_tag,
        title_visibility: title_visibility,
        title_weight: title_weight -%}

    {%- when "h4" -%}

      {%- render 'bm-title-block-h4',
        enable_title_styles: enable_title_styles,
        title_alignment_desk: title_alignment_desk,
        title_alignment_phone: title_alignment_phone,
        title_alignment_tablet: title_alignment_tablet,
        title_background_color: title_background_color,
        title_classes: title_classes,
        title_color: title_color,
        title_content: title_content,
        title_font: title_font,
        title_id: title_id,
        title_italic: title_italic,
        title_is_page_title: title_is_page_title,
        title_labelledby: title_labelledby,
        title_margin: title_margin,
        title_size: title_size,
        title_size_tablet: title_size_tablet,
        title_size_desk: title_size_desk,
        title_tag: title_tag,
        title_visibility: title_visibility,
        title_weight: title_weight -%}

    {%- when "h5" -%}

      {%- render 'bm-title-block-h5',
        enable_title_styles: enable_title_styles,
        title_alignment_desk: title_alignment_desk,
        title_alignment_phone: title_alignment_phone,
        title_alignment_tablet: title_alignment_tablet,
        title_classes: title_classes,
        title_color: title_color,
        title_content: title_content,
        title_font: title_font,
        title_id: title_id,
        title_italic: title_italic,
        title_is_page_title: title_is_page_title,
        title_labelledby: title_labelledby,
        title_margin: title_margin,
        title_size: title_size,
        title_size_tablet: title_size_tablet,
        title_size_desk: title_size_desk,
        title_tag: title_tag,
        title_visibility: title_visibility,
        title_weight: title_weight -%}

    {%- when "h6" -%}

      {%- render 'bm-title-block-h6',
        enable_title_styles: enable_title_styles,
        title_alignment_desk: title_alignment_desk,
        title_alignment_phone: title_alignment_phone,
        title_alignment_tablet: title_alignment_tablet,
        title_background_color: title_background_color,
        title_classes: title_classes,
        title_color: title_color,
        title_content: title_content,
        title_font: title_font,
        title_id: title_id,
        title_italic: title_italic,
        title_is_page_title: title_is_page_title,
        title_labelledby: title_labelledby,
        title_margin: title_margin,
        title_size: title_size,
        title_size_tablet: title_size_tablet,
        title_size_desk: title_size_desk,
        title_tag: title_tag,
        title_visibility: title_visibility,
        title_weight: title_weight -%}

    {%- when "text" -%}

      {%- render 'bm-title-block-text',
        enable_title_styles: enable_title_styles,
        title_alignment_desk: title_alignment_desk,
        title_alignment_phone: title_alignment_phone,
        title_alignment_tablet: title_alignment_tablet,
        title_background_color: title_background_color,
        title_classes: title_classes,
        title_color: title_color,
        title_content: title_content,
        title_font: title_font,
        title_id: title_id,
        title_italic: title_italic,
        title_is_page_title: title_is_page_title,
        title_labelledby: title_labelledby,
        title_margin: title_margin,
        title_size: title_size,
        title_size_tablet: title_size_tablet,
        title_size_desk: title_size_desk,
        title_tag: title_tag,
        title_visibility: title_visibility,
        title_weight: title_weight -%}

    {%- else -%}

      {%- render 'bm-title-block-h3',
        enable_title_styles: enable_title_styles,
        title_alignment_desk: title_alignment_desk,
        title_alignment_phone: title_alignment_phone,
        title_alignment_tablet: title_alignment_tablet,
        title_background_color: title_background_color,
        title_classes: title_classes,
        title_color: title_color,
        title_content: title_content,
        title_font: title_font,
        title_id: title_id,
        title_italic: title_italic,
        title_is_page_title: title_is_page_title,
        title_labelledby: title_labelledby,
        title_margin: title_margin,
        title_size: title_size,
        title_size_tablet: title_size_tablet,
        title_size_desk: title_size_desk,
        title_tag: title_tag,
        title_visibility: title_visibility,
        title_weight: title_weight -%}

  {%- endcase -%}

  {%- if title_link != blank -%}
    </a>
  {%- endif -%}
{%- endif -%}



