{%- capture bm_link_styles -%}color: {{- text_color -}};{%- endcapture -%}

<div
  class="bm-universal-nav"
  style="background-color: {{- background_color -}};"
>
  <div
    class="bm-universal-nav__container px-1 px-sm-2

      {%- if enable_newsletter %} d-flex flex-column flex-sm-row align-items-center justify-content-between{%- endif -%}"
  >

    {%- if main_nav != blank -%}

      <nav>
        <ul
          class="navigation__list my-0 ps-0 d-flex align-items-center"
          aria-label="{{- shop.name }} Universal Navigation"
          aria-orientation="horizonal"
          role="menubar"
        >

          {%- for link in main_nav.links -%}
            <li role="none">

              {%- render 'bm-link',
                bm_link_role: "menuitem",
                bm_link_title: link.title,
                bm_link_classes: 'opacity-hover text-decoration-none d-block p-2 bm-fonts fs-8 fw-bold',
                bm_link_url: link.url,
                bm_link_content: link.title,
                bm_link_styles: bm_link_styles -%}

            </li>
          {%- endfor -%}

        </ul>
      </nav>

    {%- endif -%}

    {%- if enable_newsletter -%}

      {%- render 'bm-btn-template',
        button_classes: "p-2",
        button_attributes: "data-newsletter='true'",
        button_styles: bm_link_styles,
        button_content: newsletter_btn_text,
        button_template: "no-styles" -%}

    {%- endif -%}

  </div>
</div>
