{%- if logo != blank -%}
  {%- assign bm_logo_label = "Bethel.TV" -%}
  {%- assign bm_logo_image_alt = logo.alt -%}

  {%- if bm_logo_image_alt == blank -%}
    {%- assign bm_logo_image_alt = bm_logo_label -%}
  {%- endif -%}

  <div
    class="d-flex align-items-center justify-content-sm-center"

    aria-label="Bethel.TV home navigation"
  >

    {%- capture bm_logo -%}
      <div class="bm-logo" aria-label="Bethel.TV logo">

        {%- if logo != blank -%}

          {%- render 'bm-image'
            bm_img: logo,
            bm_img_alt: bm_logo_image_alt,
            bm_img_max_width: logo_max_width,
            bm_img_widths: '180',
            bm_img_is_lazy: true,
            bm_img_role: 'logo',
            bm_img_wrapper_classes: "bm-img__wrapper--fixed-width",
            bm_img_classes: "bm-logo__image",
            bm_img_title: bm_logo_label,
            bm_img_width: logo.width,
            bm_img_height: logo.height -%}

        {%- endif -%}

      </div>
    {%- endcapture -%}

    {%- render 'bm-link',
      bm_link_is_header: true,
      bm_link_title: logo_title,
      bm_link_classes: 'opacity-hover p-2 ps-2 ps-xl-4 d-block text-decoration-none',
      bm_link_url: routes.root_url,
      bm_link_content: bm_logo -%}

  </div>
{%- endif -%}
