{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

{%- if logo != blank -%}
  {%- assign message_classes = "p-2" -%}
  {%- else -%}
    {%- assign message_classes = "p-2 ps-2 ps-xl-4" -%}
{%- endif -%}

{%- if message_content == blank -%}
  {%- assign btv_footer_social_classes = "ps-xl-3" -%}
{%- endif -%}

<footer
  class="btv-footer__section px-2 px-xl-4"

  {%- if show_background -%}
    style="background-color: {{- background_color -}};"
  {%- endif -%}
>
  <div class="btv-footer__container d-xl-flex align-items-xl-center">
    <div class="btv-footer__left d-sm-flex align-items-sm-center flex-grow-1">

      {%- render 'btv-footer-logo',
        logo: logo,
        logo_max_width: logo_max_width -%}

      {%- render 'bm-message-block',
        enable_message_styles: enable_message_styles,
        message_classes: message_classes,
        message_color: message_color,
        message_content: message_content,
        message_font: message_font,
        message_margin: message_margin,
        message_size: message_size,
        message_weight: message_weight -%}

      {%- render 'btv-footer-social',
        btv_footer_social_classes: btv_footer_social_classes,
        enable_social: enable_social,
        enable_social_styles: enable_social_styles,
        social_color: social_color,
        social_facebook_link: social_facebook_link,
        social_instagram_link: social_instagram_link,
        social_twitter_link: social_twitter_link,
        social_youtube_link: social_youtube_link -%}

    </div>

    {%- render 'btv-footer-nav',
      enable_nav_styles: enable_nav_styles,
      footer_nav: footer_nav,
      nav_color: nav_color -%}

  </div>
</footer>
