{%- if footer_nav != blank -%}
  {%- if enable_nav_styles and nav_color != blank -%}
    {%- capture bm_link_styles -%}
      color: {{- nav_color -}};
    {%- endcapture -%}
  {%- endif -%}

  <nav class="d-flex align-items-center">
    <ul
      class="list-type-none my-0 ps-0 d-flex align-items-center"
      aria-label="Bethel.TV footer navigation"
      aria-orientation="horizonal"
      role="menubar"
    >

      {%- for link in footer_nav.links -%}
        {%- assign bm_link_classes = "d-block opacity-hover text-decoration-none p-2" -%}

        {%- if forloop.last -%}
          {%- assign bm_link_classes = bm_link_classes | prepend: 'pe-2 pe-xl-4 ' -%}
        {%- endif -%}

        <li role="none">

          {%- render 'bm-link',
            bm_link_role: "menuitem",
            bm_link_title: link.title,
            bm_link_classes: bm_link_classes,
            bm_link_url: link.url,
            bm_link_content: link.title,
            bm_link_styles: bm_link_styles -%}

        </li>
      {%- endfor -%}

    </ul>
  </nav>
{%- endif -%}
