{%- assign section_links = section_blocks | where: "type", "section_link" -%}
{%- assign section_button = section_blocks | where: "type", "section_button" -%}

{%- if section_links != blank or section_button != blank -%}
  {%- if enable_text_styles and text_color != blank -%}
    {%- capture bm_link_styles -%}
      color: {{- text_color -}};
    {%- endcapture -%}
  {%- endif -%}

  {%- if enable_text_styles -%}
    {%- capture style_classes %} {{ text_font }} {{ text_size }} {{ text_weight }}{% endcapture -%}
  {%- endif -%}

  <nav class="d-flex align-items-center justify-content-end flex-grow-1">
    <ul
      class="list-type-none my-0 ps-0 d-flex align-items-center"
      aria-label="Bethel.TV header navigation"
      aria-orientation="horizonal"
      role="menubar"
    >

      {%- for link in section_links limit: 2 -%}
        {%- assign bm_link_classes = "d-block opacity-hover text-decoration-none p-2" -%}
        {%- assign link_title = link.settings.nav_link_text -%}

        {%- if style_classes != blank -%}
          {%- assign bm_link_classes = bm_link_classes | append: style_classes -%}
        {%- endif -%}

        {%- if forloop.last -%}
          {%- assign bm_link_classes = bm_link_classes | prepend: 'pe-3 pe-xl-4 ' -%}
        {%- endif -%}

        <li role="none">

          {%- render 'bm-link',
            bm_link_role: "menuitem",
            bm_link_title: link_title,
            bm_link_classes: bm_link_classes,
            bm_link_url: link.settings.nav_link,
            bm_link_content: link_title,
            bm_link_styles: bm_link_styles -%}

        </li>
      {%- endfor -%}

      {%- if section_button != blank -%}
        <li role="menuitem">

          {%- render 'btv-header-button-block', block: section_button.first -%}

        </li>
      {%- endif -%}

    </ul>
  </nav>
{%- endif -%}
