{%- assign remove_btn = "cart.remove" | t -%}
{%- assign item_image = item.image -%}

<li
  class="cart-item d-flex border-top border-color-grey-10 py-3"
  data-line="{{ index }}"
>
  <div class="cart-item-image col-4 me-3">

    {%- render 'bm-image'
      bm_img: item_image,
      bm_img_alt: item_image.alt,
      bm_img_classes: bm_img_classes,
      bm_img_is_lazy: true,
      bm_img_wrapper_classes: "bm-img__wrapper--fixed-width",
      bm_img_widths: "180,360,540,720",
      bm_img_width: item_image.width,
      bm_img_height: item_image.height -%}

  </div>

  <div class="cart-item-details col-8">

    {%- render 'bm-title-block',
      title_content: item.title,
      title_margin: "mb-3",
      title_size: "fs-6"
      title_tag: "h6" -%}

    {% render 'cart-item-pricing', item: item %}

    {%- render 'cart-item-controls', item: item -%}

    {%- render 'cart-item-properties', item: item -%}

    {%- render 'cart-item-discounts', item: item -%}

    {%- render 'bm-btn',
      button_classes: "cart-item__remove opacity-hover bm-btn--link bm-colors-color-grey-50",
      button_content: remove_btn,
      button_size: "none",
      button_title: remove_btn,
      button_template: "link" -%}

  </div>
</li>
