{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

{%- if is_a_section -%}
  <section
    class="bm-coll-row-alt {{ section_margin -}}

      {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

      {%- if show_background -%}
        {%- if enable_contain %} py-3 py-xl-5
          {%- else %} p-3 p-xl-5
        {%- endif -%}
      {%- endif %}"

    {%- if show_background -%}
      style="background-color: {{ background_color }};"
    {%- endif -%}
  >
  {%- else -%}
    <div
      class="bm-coll-row-alt {{ section_margin -}}

        {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

        {%- if show_background -%}
          {%- if enable_contain %} py-3 py-xl-5
            {%- else %} p-3 p-xl-5
          {%- endif -%}
        {%- endif %}"

      {%- if show_background -%}
        style="background-color: {{ background_color }};"
      {%- endif -%}
    >
{%- endif -%}

  <div
    class="coll-row-alt__container

      {%- if enable_contain %} container-xl px-3
        {%- else -%}
          {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
      {%- endif -%}"
  >

    {%- render 'collection-row-alt-main',
      item_offset: item_offset,
      section_blocks: section_blocks -%}

  </div>

{%- if is_a_section -%}
  </section>
  {%- else -%}
    </div>
{%- endif -%}
