{%- assign custom_items = section_blocks | where: "type", "custom_item" -%}
{%- assign product_blocks = section_blocks | where: "type", "section_product" -%}

{%- if product_blocks != blank -%}
  {%- assign product_array = product_blocks -%}
  {%- else -%}
    {%- assign product_array = collection.products -%}
{%- endif -%}

<div class="coll-row-alt__wrapper row">
  <div class="col-12 col-sm-6 d-flex flex-column justify-content-between mb-4 mb-sm-0">
    <ul class="row list-type-none my-0 ps-0">
      {%- assign first_custom_item = custom_items.first -%}
      {%- assign item_url = first_custom_item.settings.item_url -%}
      {%- assign item_margin = first_custom_item.settings.item_margin -%}

      {%- if item_url != blank -%}
        {%- assign bmci_classes = bmci_classes | append: " position-relative" -%}
      {%- endif -%}

      {%- if item_margin != blank -%}
        {%- assign bmci_classes = bmci_classes
          | append: " "
          | append: item_margin -%}
      {%- endif -%}

      {%- render 'bm-banner-item',
        bmci_classes: bmci_classes,
        bmci_url: item_url,
        block: first_custom_item,
        image_widths: "180,360,540,720,900",
        item_width_phone: "col-12" -%}

      {%- if product_blocks != blank -%}

        {%- render 'collection-row-alt-items',
          item_limit: 2,
          item_width_desk: "col-xl-6",
          item_width_max: "col-xxxl-6",
          item_width_phone: "col-6",
          item_width_tablet: "col-sm-6",
          product_array: product_array,
          product_blocks: product_blocks -%}

        {%- else -%}

          {%- if item_offset != blank -%}

            {%- render 'collection-row-alt-offset',
              item_limit: 2,
              item_offset: item_offset,
              item_width_desk: "col-xl-6",
              item_width_max: "col-xxxl-6",
              item_width_phone: "col-6",
              item_width_tablet: "col-sm-6"
              product_array: product_array -%}

            {%- else -%}

              {%- render 'collection-row-alt-items',
                item_limit: 2,
                item_width_desk: "col-xl-6",
                item_width_max: "col-xxxl-6",
                item_width_phone: "col-6",
                item_width_tablet: "col-sm-6"
                product_array: product_array -%}

          {%- endif -%}
      {%- endif -%}
    </ul>
  </div>

  <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
    <ul class="row list-type-none my-0 ps-0">
      {%- assign second_item_offset = item_offset | plus: 2 -%}

      {%- if product_blocks != blank -%}

        {%- render 'collection-row-alt-items',
          bmpi_classes: "mb-4",
          item_limit: 2,
          item_width_desk: "col-xl-6",
          item_width_max: "col-xxxl-6",
          item_width_phone: "col-6",
          item_width_tablet: "col-sm-6",
          product_array: product_array,
          product_blocks: product_blocks -%}

        {%- else -%}

          {%- if second_item_offset != blank -%}

            {%- render 'collection-row-alt-offset',
              bmpi_classes: "mb-4",
              item_limit: 2,
              item_offset: second_item_offset,
              item_width_desk: "col-xl-6",
              item_width_max: "col-xxxl-6",
              item_width_phone: "col-6",
              item_width_tablet: "col-sm-6"
              product_array: product_array -%}

            {%- else -%}

              {%- render 'collection-row-alt-items',
                bmpi_classes: "mb-4",
                item_limit: 2,
                item_width_desk: "col-xl-6",
                item_width_max: "col-xxxl-6",
                item_width_phone: "col-6",
                item_width_tablet: "col-sm-6"
                product_array: product_array -%}

          {%- endif -%}
      {%- endif -%}

      {%- assign second_custom_item = custom_items[1] -%}
      {%- assign second_item_url = second_custom_item.settings.item_url -%}
      {%- assign second_item_margin = second_custom_item.settings.item_margin -%}

      {%- if second_item_url != blank -%}
        {%- assign second_bmci_classes = second_bmci_classes | append: " position-relative" -%}
      {%- endif -%}

      {%- if second_item_margin != blank -%}
        {%- assign second_bmci_classes = second_bmci_classes
          | append: " "
          | append: second_item_margin -%}
      {%- endif -%}

      {%- render 'bm-banner-item',
        bmci_classes: second_bmci_classes,
        bmci_url: second_item_url,
        block: second_custom_item,
        image_widths: "180,360,540,720,900",
        item_width_phone: "col-12" -%}

    </ul>
  </div>
</div>
