<div
  class="custom-item-rows__container d-flex justify-content-center

    {%- if enable_contain %} container-xl px-3
      {%- else -%}
        {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
    {%- endif -%}"
>

  {%- if section_blocks != blank -%}

    {%- if is_a_carousel -%}

      {%- render 'custom-item-rows-blocks-carousel',
        content_width_desk: content_width_desk,
        content_width_phone: content_width_phone,
        content_width_tablet: content_width_tablet,
        item_widths_desk: item_widths_desk,
        item_widths_max: item_widths_max,
        item_widths_phone: item_widths_phone,
        item_widths_tablet: item_widths_tablet,
        section_blocks: section_blocks -%}

      {%- else -%}

        {%- render 'custom-item-rows-blocks',
          content_width_desk: content_width_desk,
          content_width_phone: content_width_phone,
          content_width_tablet: content_width_tablet,
          item_widths_desk: item_widths_desk,
          item_widths_max: item_widths_max,
          item_widths_phone: item_widths_phone,
          item_widths_tablet: item_widths_tablet,
          section_blocks: section_blocks -%}

    {%- endif -%}

  {%- endif -%}

</div>
