{%- if template == 'cart' -%}
  <div class='donation' id='zeLXlGBWlIUCZ' page='cart'></div>
{%- endif -%}
<script src="https://zestardshop.com/shopifyapp/easy_donation/public/js/donation.js"></script>
