{%- assign title_content = "general.social.share" | t -%}

<div class="px-0 py-4 d-flex align-items-center justify-content-between">

  {%- render 'bm-title-block',
      title_classes: "mb-0",
      title_content: title_content,
      title_tag: "h3",
      title_size: "fs-6",
      title_weight: "fw-bold" -%}

  {%- render 'social-sharing',
    facebook: true,
    pinterest: true,
    twitter: true -%}

</div>
