<div class="footer-newsletter">

  {%- render 'bm-title-block',
    enable_title_styles: true,
    title_alignment_desk: footer_middle.settings.newsletter_title_alignment_desk,
    title_alignment_phone: footer_middle.settings.newsletter_title_alignment_phone,
    title_alignment_tablet: footer_middle.settings.newsletter_title_alignment_tablet,
    title_classes: "p-01",
    title_color: text_color,
    title_content: footer_middle.settings.newsletter_title,
    title_font: "ff-roboto",
    title_margin: footer_middle.settings.newsletter_title_margin,
    title_size: footer_middle.settings.newsletter_title_font_size,
    title_tag: footer_middle.settings.newsletter_title_tag,
    title_weight: footer_middle.settings.newsletter_title_font_weight -%}

  {%- render 'bm-message-block',
    enable_message_styles: true,
    message_alignment_desk: footer_middle.settings.newsletter_message_alignment_desk,
    message_alignment_tablet: footer_middle.settings.newsletter_message_alignment_tablet,
    message_alignment_phone: footer_middle.settings.newsletter_message_alignment_phone,
    message_classes: "p-01 opacity-75",
    message_color: text_color,
    message_content: footer_middle.settings.newsletter_message,
    message_margin: footer_middle.settings.newsletter_message_margin,
    message_size: footer_middle.settings.newsletter_message_font_size,
    message_weight: footer_middle.settings.newsletter_message_font_weight -%}

  {%- render 'footer-newsletter-button',
    enable_button_styles: footer_middle.settings.enable_button_styles,
    button_alignment_desk: footer_middle.settings.newsletter_button_align_desk,
    button_alignment_phone: footer_middle.settings.newsletter_button_align_phone,
    button_alignment_tablet: footer_middle.settings.newsletter_button_align_tablet,
    button_classes: "bm-newsletter-button",
    button_color:footer_middle.settings.button_color,
    button_content: footer_middle.settings.newsletter_button_text,
    button_margin: footer_middle.settings.newsletter_button_margin,
    button_size: footer_middle.settings.newsletter_button_size,
    button_template: footer_middle.settings.newsletter_button_template,
    button_text_color: footer_middle.settings.button_text_color -%}

</div>
