{%- assign logo_title = shop.name | append: ' Home' -%}

<div
  class="d-flex align-items-center justify-content-center col-2"

  aria-label="{{- shop.name }} Home Navigation"
>

  {%- capture bm_logo -%}

    {%- render 'bm-logo',
      bm_logo_image: main_logo.settings.logo,
      bm_logo_max_width: main_logo.settings.logo_max_width,
      bm_logo_in_header: true -%}

  {%- endcapture -%}

  {%- render 'bm-link',
    bm_link_is_header: true,
    bm_link_title: logo_title,
    bm_link_classes: 'opacity-hover p-2 d-block text-decoration-none',
    bm_link_url: routes.root_url,
    bm_link_content: bm_logo -%}

</div>
