{%- if title_content != blank or message_content != blank -%}
  {%- assign show_background = false -%}
  {%- if enable_background and background_color != blank -%}
    {%- assign show_background = true -%}
  {%- endif -%}

  {%- assign show_number = false -%}
  {%- if item_number != blank and item_number > 0 -%}
    {%- assign show_number = true -%}
  {%- endif -%}

  <div
    class="item-list__item {{ item_margin -}}

      {%- if show_background %} p-3 p-sm-5{%- endif -%}

      {%- if show_number %} d-flex{%- endif -%}"

    {%- if show_background -%}
      style="background: {{- background_color -}};"
    {%- endif -%}
  >
    {%- if show_number -%}

      {%- render 'item-list-item-number',
        enable_number_styles: enable_number_styles,
        item_number: item_number,
        number_color: number_color,
        number_font: number_font,
        number_size: number_size,
        number_weight: number_weight -%}

    {%- endif -%}

    <div class="item-list__item-copy">
      {%- if title_content != blank -%}

        {%- render 'bm-title-block',
          enable_title_styles: enable_title_styles,
          title_alignment_desk: title_alignment_desk,
          title_alignment_tablet: title_alignment_tablet,
          title_alignment_phone: title_alignment_phone,
          title_color: title_color,
          title_content: title_content,
          title_font: title_font,
          title_is_page_title: title_is_page_title,
          title_italic: title_italic,
          title_labelledby: title_labelledby,
          title_margin: title_margin,
          title_size: title_size,
          title_size_tablet: title_size_tablet,
          title_size_desk: title_size_desk,
          title_tag: title_tag,
          title_visibility: title_visibility,
          title_weight: title_weight -%}

      {%- endif -%}

      {%- if message_content != blank -%}

        {%- render 'bm-message-block',
          enable_message_styles: enable_message_styles,
          message_alignment_desk: message_alignment_desk,
          message_alignment_tablet: message_alignment_tablet,
          message_alignment_phone: message_alignment_phone,
          message_color: message_color,
          message_content: message_content,
          message_italic: message_italic,
          message_font: message_font,
          message_line_height: message_line_height,
          message_margin: message_margin,
          message_size: message_size,
          message_size_tablet: message_size_tablet,
          message_size_desk: message_size_desk,
          message_visibility: message_visibility,
          message_weight: message_weight -%}

      {%- endif -%}
    </div>
  </div>

{%- endif -%}
