{%- assign aria_labelledby = "item-list-" | append: section.id -%}
{%- assign item_list_images = section_blocks | where: "type", "background_image" -%}
{%- assign item_list_titles = section_blocks | where: "type", "section_title" -%}
{%- assign background_image = item_list_images.first.settings.background_image -%}

{%- capture labelledby -%}
  {%- render 'helper-labelledby-title-blocks',
    title_blocks: item_list_titles -%}
{%- endcapture -%}

{%- assign show_background_image = false -%}
{%- if background_image != blank -%}
  {%- assign show_background_image = true -%}
{%- endif -%}

{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

<section
  class="item-list {{ section_margin -}}

    {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

    {%- if show_background or show_background_image -%}
      {%- if enable_contain %} py-3 py-xl-5
        {%- else %} p-3 p-xl-5
      {%- endif -%}
    {%- endif -%}"

  {%- if show_background or show_background_image -%}
    style="{%- if show_background -%}
        background-color: {{- background_color -}};
      {%- endif -%}

      {%- if show_background_image -%}
        background: url('{{ background_image | img_url }}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      {%- endif -%}"
  {%- endif -%}

  {%- if labelledby != blank -%}
    aria-labelledby="{{- aria_labelledby -}}"
  {%- endif -%}
>
  <div
    class="item-list__container

      {%- if enable_contain %} container-xl px-3
        {%- else -%}
          {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
      {%- endif -%}"
  >
    <div class="item-list__wrapper">

      {%- render 'item-list-blocks',
        aria_labelledby: aria_labelledby,
        content_width_desk: content_width_desk,
        content_width_phone: content_width_phone,
        content_width_tablet: content_width_tablet,
        section_blocks: section_blocks -%}

    </div>
  </div>
</section>
