<div class="d-flex justify-content-between mb-3 mb-xl-4">
  <div class="d-flex align-items-center col-6">

    {%- render 'bm-title-block',
      title_content: "Products",
      title_font: "ff-roboto bm-fonts fs-6 fs-sm-5",
      title_id: title_labelledby,
      title_margin: "mb-0" -%}

  </div>

  {%- render 'collection-sorting' -%}

</div>
