<section class="py-3 py-xl-5">
  <div class="container-xl px-3">

    {%- assign title = 'password_page.title' | t -%}
    {%- assign title_message = 'password_page.title_message' | t -%}

    {%- render 'bm-title-block',
      title_alignment_phone: "text-center",
      title_content: title,
      title_font: "ff-ivypresto",
      title_id: title_id,
      title_margin: "mb-1 mb-xl-2",
      title_size: "fs-1",
      title_tag: "h2" -%}

    {%- render 'bm-message-block',
      message_alignment_phone: "text-center",
      message_content: title_message,
      message_margin: "mb-3 mb-xl-5" -%}

    <div class="d-flex justify-content-center bm-colors-color-brown mb-3 mb-xl-5">

      {%- render 'bm-icon-template',
        bm_icon: "icon-cone-striped",
        bm_icon_classes: "d-block ms-1",
        height: "100",
        width: "100",
        icon_classes: "d-block" -%}

    </div>

    <div class="col-12 col-sm-8 ms-auto me-auto mb-3 mb-xl-5">
      <div class="bm-bg-very-light-brown rounded-5 p-3 p-sm-5">

        {%- assign sub_title = 'password_page.sub_title' | t -%}
        {%- assign message = 'password_page.message' | t -%}

        {%- render 'bm-title-block',
          title_alignment_phone: "text-center",
          title_content: sub_title,
          title_id: title_id,
          title_margin: "mb-3",
          title_size: "fs-3",
          title_tag: "h3" -%}

        {%- render 'bm-message-block',
          message_alignment_phone: "text-center",
          message_content: message,
          message_margin: "mb-3 mb-xl-5" -%}

        <h3 class="text-center mb-3 mb-xl-5">Form Will Go Here</h3>
        <div class="klaviyo-form-Rj2NTg"></div>

        {%- assign help_html = 'password_page.help_html' | t -%}

        {%- render 'bm-message-block',
          message_alignment_phone: "text-center",
          message_content: help_html,
          message_margin: "mb-0" -%}

      </div>
    </div>

    <div id="store-password-mark">
      <p class="text-center">{{ 'password_page.password_message' | t }}</p>
    </div>
    <div class="d-flex justify-content-center">

      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}

        <div class="d-flex flex-column flex-sm-row justify-content-center align-sm-items-center">
          <label for="password" class="visually-hidden">{{ 'password_page.store_password' | t }}</label>
          <input
            type="password"
            name="password"
            id="password"
            class="px-2 py-3 mb-3 mb-sm-0 me-0 me-sm-2 border-very-light-brown field"
            placeholder="{{ 'password_page.store_password' | t }}"
            autofocus
          >

          {%- assign button_content = 'password_page.submit' | t -%}

          {%- render 'bm-btn-template',
            button_size: "large",
            button_classes: "",
            button_content: button_content,
            button_template: "primary",
            button_type: "submit" -%}

        </div>

      {% endform %}

    </div>

  </div>
</section>
