{%- if item_widths_max == "col-xxxl-2" -%}
  {%- assign per_page_max = 6 -%}
  {%- else -%}
    {%- assign per_page_max = 4 -%}
{%- endif -%}

{%- if item_widths_desk == "col-xl-4" -%}
  {%- assign per_page_desk = 3 -%}
  {%- else -%}
    {%- assign per_page_desk = 4 -%}
{%- endif -%}

{%- if item_widths_tablet == "col-sm-3" -%}
  {%- assign per_page_tablet = 4 -%}
  {%- elsif item_widths_tablet == "col-sm-6" -%}
    {%- assign per_page_tablet = 2 -%}
  {%- else -%}
    {%- assign per_page_tablet = 3 -%}
{%- endif -%}

{%- if item_widths_phone == "col-12" -%}
  {%- assign per_page_phone = 1 -%}
  {%- else -%}
    {%- assign per_page_phone = 2 -%}
{%- endif -%}

<div
  class="splide"
  data-settings='{%- render "helper-slider-settings",
    arrows: true,
    arrows_phone: false,
    autoplay: false,
    autoscroll: false,
    padding_right_desk: "15%",
    padding_right_max: "15%",
    padding_right_phone: "20%",
    padding_right_tablet: "15%",
    pagination: false,
    per_page_desk: per_page_desk,
    per_page_max: per_page_max,
    per_page_phone: per_page_phone,
    per_page_tablet: per_page_tablet,
    rewind: true,
    speed: speed,
    interval: interval -%}'
>
  <div class="splide__track">
    <ul class="splide__list list-type-none my-0 ps-0">

      {%- for block in section_blocks -%}
        {%- assign col_block = collections[block.settings.collection_item] -%}
        {%- assign col_image = col_block.featured_image -%}
        {%- assign col_title = col_block.title -%}
        {%- assign col_url = col_block.url -%}
        {%- assign compare_price_color = block.settings.compare_price_color -%}
        {%- assign custom_img = block.settings.custom_img -%}
        {%- assign enable_styles = block.settings.enable_styles -%}
        {%- assign font_italic = block.settings.font_italic -%}
        {%- assign font_size = block.settings.font_size -%}
        {%- assign font_weight = block.settings.font_weight -%}
        {%- assign item_width_desk = block.settings.item_width_desk -%}
        {%- assign item_width_max = block.settings.item_width_max -%}
        {%- assign item_width_phone = block.settings.item_width_phone -%}
        {%- assign item_width_tablet = block.settings.item_width_tablet -%}
        {%- assign price_color = block.settings.price_color -%}
        {%- assign price_color_sale = block.settings.price_color_sale -%}
        {%- assign prod_block = all_products[block.settings.prod] -%}
        {%- assign prod_image = prod_block.featured_image -%}
        {%- assign prod_title = prod_block.title -%}
        {%- assign prod_url = prod_block.url -%}
        {%- assign text_color = block.settings.text_color -%}

        {%- if enable_styles == false -%}
          {%- assign compare_price_color = compare_price_color_inherit -%}
          {%- assign enable_styles = enable_styles_inherit -%}
          {%- assign price_color = price_color_inherit -%}
          {%- assign price_color_sale = price_color_sale_inherit -%}
          {%- assign text_color = text_color_inherit -%}
        {%- endif -%}

        {%- if font_italic == false-%}
          {%- assign font_italic = font_italic_inherit -%}
        {%- endif -%}

        {%- if font_size contains "inherit" -%}
          {%- assign font_size = font_size_inherit -%}
        {%- endif -%}

        {%- if font_weight contains "inherit" -%}
          {%- assign font_weight = font_weight_inherit -%}
        {%- endif -%}

        {%- if item_width_desk == "inherit" -%}
          {%- assign item_width_desk = item_widths_desk -%}
        {%- endif -%}

        {%- if item_width_max == "inherit" -%}
          {%- assign item_width_max = item_widths_max -%}
        {%- endif -%}

        {%- if item_width_phone == "inherit" -%}
          {%- assign item_width_phone = item_widths_phone -%}
        {%- endif -%}

        {%- if item_width_tablet == "inherit" -%}
          {%- assign item_width_tablet = item_widths_tablet -%}
        {%- endif -%}

        {%- if prod_block != blank -%}
          {%- assign current_image = prod_image -%}
          {%- assign current_title = prod_title -%}
          {%- assign current_url = prod_url -%}
          {%- assign current_compare_at_price = prod_block.compare_at_price -%}
          {%- assign current_compare_price_color = compare_price_color -%}
          {%- assign current_compare_price_varies = prod_block.compare_at_price_varies -%}
          {%- assign current_price = prod_block.price -%}
          {%- assign current_price_color = price_color -%}
          {%- assign current_price_color_sale = price_color_sale -%}
          {%- assign current_price_varies = prod_block.price_varies -%}
          {%- else -%}
            {%- assign bmpi_img_contain = true -%}
            {%- assign current_image = col_image -%}
            {%- assign current_title = col_title -%}
            {%- assign current_url = col_url -%}
            {%- assign current_compare_at_price = "" -%}
            {%- assign current_compare_price_color = "" -%}
            {%- assign current_compare_price_varies = "" -%}
            {%- assign current_price = "" -%}
            {%- assign current_price_color = "" -%}
            {%- assign current_price_color_sale = "" -%}
            {%- assign current_price_varies = "" -%}
        {%- endif -%}

        {%- if custom_img != blank -%}
          {%- assign current_image = custom_img -%}
          {%- assign bmpi_img_contain = false -%}
        {%- endif -%}

        {%- render 'bm-prod-item',
          bmpi_classes: "splide__slide me-4",
          bmpi_img: current_image,
          bmpi_img_contain: bmpi_img_contain,
          bmpi_title: current_title,
          bmpi_url: current_url,
          compare_price: current_compare_at_price,
          compare_price_color: current_compare_price_color,
          compare_price_varies: current_compare_price_varies,
          enable_styles: enable_styles,
          font_italic: font_italic,
          font_size: font_size,
          font_weight: font_weight,
          price: current_price,
          price_color: current_price_color,
          price_color_sale: current_price_color_sale,
          price_varies: current_price_varies,
          text_color: text_color,
          image_widths: "180,360,540,720,900",
          item_width_desk: item_width_desk,
          item_width_max: item_width_max,
          item_width_phone: item_width_phone,
          item_width_tablet: item_width_tablet, -%}

      {%- endfor -%}

    </ul>
  </div>
</div>
