<div class="sca-qv-button-wrap" style="display: none !important">
  <a class="sca-qv-button"  href="#sca-qv-showqv" data-index="{{ forloop.index }}"
     title="Quick View" data-handle="{{product.handle}}" ><span></span></a>
</div>




