<div class="bm-search pt-3 pt-xl-5 mb-3 mb-xl-5">
  <div class="bm-search__container container-xl px-3">
    {%- assign bm_search_title = "general.search.name" | t -%}

    {%- render 'bm-title-block',
      title_alignment_phone: "text-center",
      title_content: bm_search_title,
      title_font: "ff-ivypresto",
      title_margin: "mb-3 mb-xl-5",
      title_size: "fs-1",
      title_size_tablet: block.settings.font_size_tablet,
      title_size_desk: block.settings.font_size_desk,
      title_tag: "h1",
      title_weight: block.settings.font_weight -%}

    <div class="d-flex justify-content-center mb-3 mb-xl-5">

      {%- render 'bm-search-form',
        label_hidden: true,
        search_btn_content: "icon",
        search_width: "280" -%}

    </div>

    <div class="bm-search__content">

      {%- if search.results.size > 0 -%}

        {%- assign search_message = "search.results" | t: terms: search.terms -%}

        {%- render 'bm-message-block',
          message_alignment_phone: "text-center",
          message_content: search_message,
          message_margin: "mb-3 mb-xl-5" -%}

        {%- render 'search-rows'
          item_widths_desk: item_widths_desk,
          item_widths_max: item_widths_max,
          item_widths_phone: item_widths_phone,
          item_widths_tablet: item_widths_tablet,
          page_item_limit: page_item_limit -%}

        {%- else -%}

          {%- if search.performed -%}

            {%- assign empty_search_message = "search.no_results" | t: terms: search.terms -%}

            {%- render 'bm-message-block',
              message_alignment_phone: "text-center",
              message_content: empty_search_message,
              message_margin: "mb-0" -%}

          {%- endif -%}

      {%- endif -%}

    </div>
  </div>
</div>
