<div class="video-carousel__blocks">
  <div class="bm-btn-section__blocks-container">
    <div
      class="splide"
      data-settings='{%- render "helper-slider-settings",
        arrows: true,
        autoplay: false,
        autoscroll: false,
        pagination: false,
        per_page_desk: per_page_desk,
        per_page_max: per_page_max,
        per_page_phone: per_page_phone,
        per_page_tablet: per_page_tablet,
        rewind: true,
        speed: speed,
        interval: interval -%}'
    >
      <div class="splide__track">
        <ul class="splide__list list-type-none my-0 ps-0">

          {%- for block in section_blocks -%}
            {%- case block.type -%}

              {%- when "section_video" -%}

                <li class="splide__slide col-12">
                    {%- assign thumbnail = block.settings.thumbnail -%}

                    {% if thumbnail != blank %}
                      {%- assign thumbnail_url = block.settings.thumbnail | img_url: 'master' -%}
                    {% endif %}

                    {%- render 'bm-video',
                      autoplay: block.settings.autoplay,
                      controls: block.settings.controls,
                      interaction: block.settings.interaction,
                      loop: block.settings.loop,
                      modal: false,
                      thumbnail_url: thumbnail_url,
                      video_id: block.settings.iframe_url.id,
                      video_url: block.settings.mp4_url -%}

                  </li>


            {%- endcase -%}
          {%- endfor -%}

        </ul>
      </div>
    </div>
  </div>
</div>
