<ul
  id="{{ data_target }}"
  class="sub-navigation__list col-12 sub-menu-two border-start border-1 flex-wrap list-type-none bm-bg-white my-0 pt-3 px-4 pb-5 position-absolute start-100 top-0 fade-opacity display-flex-toggle display-hidden"
  aria-orientation="vertical"
  aria-labelledby="{{ title_labelledby }}"
  aria-hidden="true"
  role="menu"
>

  {%- for link in parent_link.links -%}
    {%- assign bm_sub_two_link_classes = "d-block bm-header__link-hover p-2" -%}
    {%- assign enable_sub_menu = false -%}
    {%- assign title_content = link.title -%}
    {%- assign link_content = title_content -%}

    <li
      class="col-6 d-block"
      role="none"

      {%- if link_item_attributes %} {{ link_item_attributes }}{% endif -%}
    >

      {%- render 'bm-link',
        bm_link_role: "menuitem",
        bm_link_title: title_content,
        bm_link_classes: bm_sub_two_link_classes,
        bm_link_url: link.url,
        bm_link_content: link_content,
        bm_link_styles: bm_link_styles -%}

    </li>

  {%- endfor -%}

</ul>
