*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  font-family: $regularFontStack;
  font-size: $baseFontSize;
  font-style: normal;
  font-weight: $regularFontWeight;
  margin: 0;
  padding: 0;
}

button {
  font-family: $regularFontStack;
  font-size: $baseFontSize;
  font-style: normal;
  font-weight: $regularFontWeight;
}

body {
  &.body--scroll-locked {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.bm-overlay {
  background-color: $black;
  opacity: 0.2;
  z-index: $zLevelOne;
}

.field {
  border: 1px solid;
}

.errors {
  color: $redDanger;

  ul {
    list-style: none;
    list-style-type: none;
    margin: 0 0 $gutterMediumSmall;
    padding-left: 0;
    text-align: center;
  }
}

.page,
.next {
  a {
    color: $black;
  }
}

.spinning-loader {
  animation: rotation 1s linear infinite;
  border-color: #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  display: inline-block;
  height: 24px;
  width: 24px;

  &--brown {
    border-color: $bmBrown;
    border-bottom-color: transparent;
  }

  &--small {
    border-width: 2px;
    height: 16px;
    width: 16px;
  }

  &--medium {
    border-width: 5px;
    height: 48px;
    width: 48px;
  }

  &--large {
    border-width: 7px;
    height: 72px;
    width: 72px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bm-btn--quick-view,
.bm-btn--quick-add {
  min-height: unset;

  &--i {
    min-height: unset !important;
  }
}
