{%- if main_breakpoint == blank -%}
  {%- assign main_breakpoint = "sm" -%}
{%- endif -%}

{%- if img_breakpoint_pos == blank -%}
  {%- assign img_breakpoint_pos = "flex-column" -%}
{%- endif -%}

{%- if image_pos == blank -%}
  {%- assign image_pos = "row" -%}
{%- endif -%}

{%- if img_width == blank -%}
  {%- assign img_width = 6 -%}
{%- endif -%}

{%- assign img_width_int_tablet = img_width_tablet | times: 1 -%}
{%- assign text_width_tablet = 12 | minus: img_width_int_tablet -%}

{%- assign img_width_int_desk = img_width_desk | times: 1 -%}
{%- assign text_width_desk = 12 | minus: img_width_int_desk -%}

{%- if horiz_align_phone == blank -%}
  {%- assign horiz_align_phone = "justify-content-inherit" -%}
{%- endif -%}

{%- if horiz_align_tablet == blank -%}
  {%- assign horiz_align_tablet = "justify-content-sm-inherit" -%}
{%- endif -%}

{%- if horiz_align_desk == blank -%}
  {%- assign horiz_align_desk = "justify-content-xl-inherit" -%}
{%- endif -%}

{%- if text_alignment_phone == blank -%}
  {%- assign text_alignment_phone = "text-inherit" -%}
{%- endif -%}

{%- if text_alignment_tablet == blank -%}
  {%- assign text_alignment_tablet = "text-sm-inherit" -%}
{%- endif -%}

{%- if text_alignment_desk == blank -%}
  {%- assign text_alignment_desk = "text-xl-inherit" -%}
{%- endif -%}

{%- if vert_align_phone == blank -%}
  {%- assign vert_align_phone = "align-items-inherit" -%}
{%- endif -%}

{%- if vert_align_tablet == blank -%}
  {%- assign vert_align_tablet = "align-items-sm-inherit" -%}
{%- endif -%}

{%- if vert_align_desk == blank -%}
  {%- assign vert_align_desk = "align-items-xl-inherit" -%}
{%- endif -%}

{%- if space_between_img_txt == blank -%}
  {%- assign space_between_img_txt = 5 -%}
{%- endif -%}

<div class="d-flex {{ img_breakpoint_pos }} flex-{{ main_breakpoint }}-{{ image_pos -}}">

  {%- render 'image-with-text-images',
    autoplay: autoplay,
    controls: controls,
    enable_overlap: enable_overlap,
    interaction: interaction,
    iframe_url: iframe_url,
    image_desk: image_desk,
    image_max: image_max,
    image_phone: image_phone,
    image_tablet: image_tablet,
    img_width_desk: img_width_desk,
    img_width_tablet: img_width_tablet,
    image_pos: image_pos,
    img_breakpoint_pos: img_breakpoint_pos,
    loop: loop,
    main_breakpoint: main_breakpoint,
    mp4_url: mp4_url,
    video_thumbnail: video_thumbnail,
    video_visibility: video_visibility -%}


  {%- render 'image-with-text-blocks',
    aria_labelledby: aria_labelledby,
    content_width_desk: content_width_desk,
    content_width_tablet: content_width_tablet,
    enable_background: enable_background,
    enable_contain: enable_contain,
    enable_full_width: enable_full_width,
    enable_text_section_styles: enable_text_section_styles,
    enable_overlap: enable_overlap,
    horiz_align_desk: horiz_align_desk,
    horiz_align_phone: horiz_align_phone,
    horiz_align_tablet: horiz_align_tablet,
    img_breakpoint_pos: img_breakpoint_pos,
    image_pos: image_pos,
    main_breakpoint: main_breakpoint,
    section_blocks: section_blocks,
    space_between_img_txt: space_between_img_txt,
    text_alignment_desk: text_alignment_desk,
    text_alignment_tablet: text_alignment_tablet,
    text_alignment_phone: text_alignment_phone,
    text_background: text_background,
    text_width_desk: text_width_desk,
    text_width_tablet: text_width_tablet,
    vert_align_desk: vert_align_desk,
    vert_align_phone: vert_align_phone,
    vert_align_tablet: vert_align_tablet -%}

</div>
