.bm-atc-form-variants__radio {
  background-color: $offWhite;
  border: 1px solid $grey20;

  &.quick-add-options {
    &:hover {
      background-color: $bmVerylightBrown;
    }

    &.active {
      border-color: $bmBrown;
    }
  }
}

.spr-container {
  a {
    color: $black;
  }
}

.spr-icon {
  &.spr-icon-star {
    color: $bmBrown !important;
  }
}
