{%- if item_widths_max == "col-xxxl-2" -%}
  {%- assign per_page_max = 6 -%}
  {%- elsif item_widths_max == "col-xxxl-4" -%}
    {%- assign per_page_max = 3 -%}
  {%- elsif item_widths_max == "col-xxxl-6" -%}
    {%- assign per_page_max = 2 -%}
  {%- elsif item_widths_max == "alt-col-xxxl-2" -%}
    {%- assign per_page_max = 5 -%}
  {%- else -%}
    {%- assign per_page_max = 4 -%}
{%- endif -%}

{%- if item_widths_desk == "col-xl-4" -%}
  {%- assign per_page_desk = 3 -%}
  {%- elsif item_widths_desk == "col-xl-6" -%}
    {%- assign per_page_desk = 2 -%}
  {%- elsif item_widths_desk == "alt-col-xl-2" -%}
    {%- assign per_page_desk = 5 -%}
  {%- else -%}
    {%- assign per_page_desk = 4 -%}
{%- endif -%}

{%- if item_widths_tablet == "col-sm-3" -%}
  {%- assign per_page_tablet = 4 -%}
  {%- elsif item_widths_tablet == "col-sm-6" -%}
    {%- assign per_page_tablet = 2 -%}
  {%- else -%}
    {%- assign per_page_tablet = 3 -%}
{%- endif -%}

{%- if item_widths_phone == "col-12" -%}
  {%- assign per_page_phone = 1 -%}
  {%- else -%}
    {%- assign per_page_phone = 2 -%}
{%- endif -%}

{%- if carousel_layout == "peak" -%}
  {%- assign current_item_widths_max = item_widths_max -%}
  {%- assign current_item_widths_desk = item_widths_desk -%}
  {%- assign current_item_widths_tablet = item_widths_tablet -%}
  {%- assign current_item_widths_phone = item_widths_phone -%}
  {%- else -%}
    {%- assign current_item_widths_max = "" -%}
    {%- assign current_item_widths_desk = "" -%}
    {%- assign current_item_widths_tablet = "" -%}
    {%- assign current_item_widths_phone = "" -%}
{%- endif -%}

<div
  class="splide"
  data-settings='{%- render "helper-slider-settings",
    arrows: true,
    arrows_phone: false,
    autoplay: false,
    autoscroll: false,
    gap: "1.5rem",
    padding_right_phone: "20%",
    pagination: false,
    per_page_desk: per_page_desk,
    per_page_max: per_page_max,
    per_page_phone: per_page_phone,
    per_page_tablet: per_page_tablet,
    rewind: true,
    speed: speed,
    interval: interval -%}'
>
  <div class="splide__track">
    <ul class="splide__list list-type-none my-0 ps-0">

      {%- if enable_item_limit -%}
        {%- assign limit = item_limit | times: 1 -%}
      {%- endif -%}

      {%- for product in section_collection.products limit: limit -%}

        {%- if product.variants.size == 1 -%}
          {%- assign show_compare_price = true -%}
        {%- endif -%}

        {%- render 'bm-prod-item',
          bmpi_available: product.available,
          bmpi_classes: "splide__slide",
          bmpi_img: product.featured_image,
          bmpi_title: product.title,
          bmpi_url: product.url,
          compare_price: product.compare_at_price,
          compare_price_color: compare_price_color,
          compare_price_varies: product.compare_at_price_varies,
          enable_styles: enable_styles,
          font_italic: font_italic,
          font_size: font_size,
          font_weight: font_weight,
          price: product.price,
          price_color: price_color,
          price_color_sale: price_color_sale,
          price_varies: product.price_varies,
          show_compare_price: show_compare_price,
          text_color: text_color,
          image_widths: "180,360,540,720,900",
          item_width_desk: current_item_widths_desk,
          item_width_max: current_item_widths_max,
          item_width_phone: current_item_widths_phone,
          item_width_tablet: current_item_widths_tablet -%}

      {%- endfor -%}

    </ul>
  </div>
</div>
