<div
  class="product-rows__container

    {%- if enable_contain %} container-xl px-3
      {%- else -%}
        {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
    {%- endif -%}"
>

  {%- if section_blocks != blank -%}

    {%- if is_a_carousel -%}

      {%- render 'product-row-blocks-carousel',
        compare_price_color_inherit: compare_price_color,
        enable_styles_inherit: enable_styles,
        font_italic_inherit: font_italic,
        font_size_inherit: font_size,
        font_weight_inherit: font_weight,
        item_widths_desk: item_widths_desk,
        item_widths_max: item_widths_max,
        item_widths_phone: item_widths_phone,
        item_widths_tablet: item_widths_tablet,
        price_color_inherit: price_color,
        price_color_sale_inherit: price_color_sale,
        section_blocks: section_blocks,
        text_color_inherit: text_color -%}

      {%- else -%}

        {%- render 'product-row-blocks',
          compare_price_color_inherit: compare_price_color,
          enable_styles_inherit: enable_styles,
          font_italic_inherit: font_italic,
          font_size_inherit: font_size,
          font_weight_inherit: font_weight,
          item_widths_desk: item_widths_desk,
          item_widths_max: item_widths_max,
          item_widths_phone: item_widths_phone,
          item_widths_tablet: item_widths_tablet,
          price_color_inherit: price_color,
          price_color_sale_inherit: price_color_sale,
          section_blocks: section_blocks,
          text_color_inherit: text_color -%}

    {%- endif -%}

    {%- elsif section_collection != blank -%}

      {%- if is_a_carousel -%}

        {%- render 'product-row-collection-carousel',
          compare_price_color: compare_price_color,
          enable_item_limit: enable_item_limit,
          enable_styles: enable_styles,
          font_italic: font_italic,
          font_size: font_size,
          font_weight: font_weight,
          item_limit: item_limit,
          item_widths_desk: item_widths_desk,
          item_widths_max: item_widths_max,
          item_widths_phone: item_widths_phone,
          item_widths_tablet: item_widths_tablet,
          price_color: price_color,
          price_color_sale: price_color_sale,
          section_collection: section_collection,
          text_color: text_color -%}

        {%- else -%}

          {%- render 'product-row-collection',
            compare_price_color: compare_price_color,
            enable_item_limit: enable_item_limit,
            enable_styles: enable_styles,
            font_italic: font_italic,
            font_size: font_size,
            font_weight: font_weight,
            item_limit: item_limit,
            item_widths_desk: item_widths_desk,
            item_widths_max: item_widths_max,
            item_widths_phone: item_widths_phone,
            item_widths_tablet: item_widths_tablet,
            price_color: price_color,
            price_color_sale: price_color_sale,
            section_collection: section_collection,
            text_color: text_color -%}

      {%- endif -%}

  {%- endif -%}

</div>
