<div class="mb-5"></div>
<div class="container">
<p>
  Things to begin with in design:
  <br>
  - Remember we should keep things consistent throughout the site, and stay away from different here and different there.
  <br>
  - Buttons
  <br>
    - Limit yourself, keep sizes to around 3 - 4 sizes
  <br>
  - Title and paragraph sizes and line heights for desk, tablet, phone.
  <br>
    - Limit yourself, keep sizes to around 6 - 8 sizes
  <br>
  - Spacing sizes.
  <br>
    - Limit yourself, keep sizes to around 6 - 8 sizes
  <br>
  - All basic colors for the site. Ex: warning, danger, success, greyscale
</p>
<p>
  I will be using bootstrap as the base style for the theme. Please keep as close to this as possible.
  <br>
  <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">https://getbootstrap.com/docs/5.1/getting-started/introduction/</a>
</p>
</div>

<div class="container">
  <div class="border border-2 mb-5">
    <h3>This is the page width</h3>
  </div>
</div>

<div class="container">
  <hr class="mt-0 mb-5 p-0">
  <div class="border border-secondary border-1 p-1 mb-3" style="max-width: 150px;">
    Button sizes
  </div>
  <div class="border border-secondary border-1 p-2 mb-3" style="max-width: 150px;">
    Button sizes
  </div>
  <div class="border border-secondary border-1 py-2 mb-3 p-3" style="max-width: 150px;">
    Button sizes
  </div>
  <div class="border border-secondary border-1 py-2 mb-3 p-4" style="max-width: 150px;">
    Button sizes
  </div>
  <div class="border border-secondary border-1 py-2 mb-3 p-5" style="max-width: 200px;">
    Button sizes
  </div>
  <hr class="mt-0 mb-5 p-0">
  <h1>This is an H1 title, bottom margin and line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra.</h1>
  <h2>This is an H2 title, bottom margin and line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra.</h2>
  <h3>This is an H3 title, bottom margin and line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Volutpat odio facilisis mauris sit amet massa. Cursus mattis molestie a iaculis at erat. Congue eu consequat ac felis. Laoreet suspendisse interdum consectetur libero. Senectus et netus et malesuada.</h3>
  <h4>This is an H4 title, bottom margin and line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Volutpat odio facilisis mauris sit amet massa. Cursus mattis molestie a iaculis at erat. Congue eu consequat ac felis. Laoreet suspendisse interdum consectetur libero. Senectus et netus et malesuada.</h4>
  <h5>This is an H5 title, bottom margin and line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Volutpat odio facilisis mauris sit amet massa. Cursus mattis molestie a iaculis at erat. Congue eu consequat ac felis. Laoreet suspendisse interdum consectetur libero. Senectus et netus et malesuada.</h5>
  <h6>This is an H6 title, bottom margin and line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Volutpat odio facilisis mauris sit amet massa. Cursus mattis molestie a iaculis at erat. Congue eu consequat ac felis. Laoreet suspendisse interdum consectetur libero. Senectus et netus et malesuada.</h6>
  <hr class="mt-0 mb-5 p-0">
  <p>
    These are the current font sizes for bootstrap. We should reconcile them with the h titles. Design more sizes if needed.
    See examples <a href="https://getbootstrap.com/docs/5.1/utilities/text/">here.</a>
  </p>
  <p class="fs-1">
    Font Size 1 Lorem ipsum dolor sit amet
  </p>
  <p class="fs-2">
    Font Size 2 Lorem ipsum dolor sit amet
  </p>
  <p class="fs-3">
    Font Size 3 Lorem ipsum dolor sit amet
  </p>
  <p class="fs-4">
    Font Size 4 Lorem ipsum dolor sit amet
  </p>
  <p class="fs-5">
    Font Size 5 Lorem ipsum dolor sit amet
  </p>
  <p>
    Regular size paragraph.
  </p>
  <hr class="mt-0 mb-5 p-0">
  <p>
    Regular Line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Mollis nunc sed id semper risus in. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus.
  </p>
  <p class="lh-1">
    Line height 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Mollis nunc sed id semper risus in. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus.
  </p>
  <p class="lh-sm">
    Small Line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Mollis nunc sed id semper risus in. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus.
  </p>
  <p class="lh-base">
    Base Line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Mollis nunc sed id semper risus in. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus.
  </p>
  <p class="lh-lg">
    Large Line height. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Mollis nunc sed id semper risus in. Lacus viverra vitae congue eu consequat ac felis. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus.
  </p>
  <hr class="mt-0 mb-5 p-0">

  {%- render 'bm-btn-template',
    button_classes: button_classes,
    button_attributes: button_attributes,
    button_text_color: button_text_color,
    button_content: "Hello World",
    button_size: "small",
    button_template: "secondary",
    button_type: button_type,
    button_template_color: button_template_color,
    button_route: button_route -%}

  <div class="mb-5"></div>

  <hr class="mt-0 mb-5 p-0">

  {%- assign test_img = section.settings.test_img -%}

  {%- render 'bm-image'
    bm_img: test_img,
    bm_img_alt: test_img.alt,
    bm_img_widths: '180,300,540',
    bm_img_is_lazy: true,
    bm_img_wrapper_classes: "bm-img__wrapper--fixed-width",
    bm_img_title: bm_logo_title,
    bm_img_width: test_img.width,
    bm_img_height: test_img.height -%}

  <div class="mb-5"></div>

  <hr class="mt-0 mb-5 p-0">

  {%- render 'bm-image'
    bm_img_srcset: "https://cdn.shopify.com/s/files/1/0080/4651/0198/files/1200x700.png?v=1646794380",
    bm_img_wrapper_classes: "bm-img__wrapper--fixed-width" -%}

  <div class="mb-5"></div>

  <hr class="mt-0 mb-5 p-0">

</div>

{% schema %}
  {
    "name": "Placeholder Page",
    "settings": [
      {
        "type": "header",
        "content": "Placeholder Page"
      },
      {
        "type": "image_picker",
        "id": "test_img",
        "label": "Image"
      }
    ]
  }
{% endschema %}
