<h4 {% render 'bm-sub-title-block-attributes',
  enable_sub_title_styles: enable_sub_title_styles,
  sub_title_alignment_desk: sub_title_alignment_desk,
  sub_title_alignment_phone: sub_title_alignment_phone,
  sub_title_alignment_tablet: sub_title_alignment_tablet,
  sub_title_color: sub_title_color,
  sub_title_content: sub_title_content,
  sub_title_font: sub_title_font,
  sub_title_italic: sub_title_italic,
  sub_title_margin: sub_title_margin,
  sub_title_size: sub_title_size,
  sub_title_tag: sub_title_tag,
  sub_title_visibility: sub_title_visibility,
  sub_title_weight: sub_title_weight -%}>

  {{- sub_title_content -}}

</h4>
