{%- assign bm_link_classes = management_menu_link_classes
  | append: ' position-relative' -%}

{%- if orientation == 'horizonal' -%}
  {%- assign bm_link_classes = bm_link_classes
    | append: ' pe-xl-4' -%}
{%- endif -%}

{%- capture bm_link_content -%}
  {%- render 'bm-icon-template',
    bm_icon: "icon-bag",
    bm_icon_classes: "d-block",
    icon_classes: "d-block bm-icon__size--regular" -%}

  {%- render 'bm-icon-template',
    bm_icon: "icon-cart-count",
    bm_icon_classes: "d-block position-absolute",
    icon_classes: "d-block bm-icon__size--regular-small text-center text-white bm-fonts fs-7 rounded-circle" -%}
{%- endcapture -%}

<li
  class="list-item

    {%- if cart_link_vis != blank and
      cart_link_vis != 'default' %} d-none d-{{- cart_link_vis -}}-block
    {%- endif -%}"
  role="menuitem"
>

  {%- render 'bm-link',
    bm_link_title: "Cart",
    bm_link_classes: bm_link_classes,
    bm_link_url: routes.cart_url,
    bm_link_content: bm_link_content,
    bm_link_styles: bm_link_styles -%}

</li>
