{%- capture bm_link_content -%}
  {%- render 'bm-icon-template',
    bm_icon: "icon-person-3",
    bm_icon_classes: "d-block",
    icon_classes: "d-block bm-icon__size--regular" -%}
{%- endcapture -%}

{%- if customer != blank -%}
  {%- assign current_route = routes.account_url -%}
  {%- else -%}
    {%- assign current_route = routes.account_login_url -%}
{%- endif -%}

{%- assign title_content = "account.name" | t -%}
{%- assign formatted_title = title_content | sha1 -%}
{%- assign data_target = "sub-menu-" | append: formatted_title -%}

<li
  class="list-item cursor-pointer

    {%- if managment_menu_desk %} hover-open-button closed-hover-open{%- endif -%}

    {%- if account_link_vis != blank and
      account_link_vis != 'default' %} d-none d-{{- account_link_vis -}}-block
    {%- endif -%}"
  role="menuitem"

  {%- if managment_menu_desk -%}
    data-target="{{ data_target }}"
    aria-controls="{{ data_target -}}"
    aria-expanded="false"
  {%- endif -%}

>

  {%- render 'bm-link',
    bm_link_title: "Account",
    bm_link_classes: management_menu_link_classes,
    bm_link_url: current_route,
    bm_link_content: bm_link_content,
    bm_link_styles: bm_link_styles -%}

  {%- if managment_menu_desk -%}

    {%- render 'management-account-form', data_target: data_target -%}

  {%- endif -%}

</li>
