{%- assign search_name = 'general.search.name' | t -%}
{%- assign enable_predictive_search = settings.enable_predictive_search -%}

<li
  class="list-item

    {%- if search_link_vis != blank and
      search_link_vis != 'default' %} d-none d-{{- search_link_vis -}}-block
    {%- endif -%}"
  role="menuitem"
>

  {%- if search_is_form -%}

    {%- unless request.path contains routes.search_url -%}

      {%- render 'bm-search-form',
        enable_predictive_search: enable_predictive_search,
        label_hidden: true,
        search_btn_content: "icon",
        search_classes: "me-2 me-xl-4",
        search_width: search_width -%}

    {%- endunless -%}

    {%- else -%}
      {%- capture bm_link_content -%}
        {%- render 'bm-icon-template',
          bm_icon: "icon-search",
          bm_icon_classes: "d-block",
          icon_classes: "d-block bm-icon__size--regular" -%}
      {%- endcapture -%}

      {%- render 'bm-link',
        bm_link_title: search_name,
        bm_link_classes: management_menu_link_classes,
        bm_link_url: routes.search_url,
        bm_link_content: bm_link_content,
        bm_link_styles: bm_link_styles -%}
  {%- endif -%}

</li>
