{%- assign default_menu_link_classes = "opacity-hover text-decoration-none d-block" -%}
{%- capture bm_link_styles -%}color: {{- text_color | default: '#000' -}};{%- endcapture -%}

{%- assign management_menu_link_classes = management_menu_link_classes
  | append: ' '
  | append: default_menu_link_classes -%}

{%- if managment_menu_desk -%}
  {%- assign management_menu_link_classes = management_menu_link_classes
  | append: ' py-4' -%}
{%- endif -%}

<div class="{%- if managment_menu_classes != blank -%}
    {{- managment_menu_classes | prepend: ' ' -}}
  {%- endif -%}"
>
  <ul
    class="bm-header__list management-menu my-0 ps-0 d-flex

      {%- if orientation == 'horizonal' %} align-items-center
        {%- else %} flex-column
      {%- endif -%}"
    aria-label="{{- shop.name }} Management navigation"
    aria-orientation="{%- if orientation == 'horizonal' -%}
        horizonal
        {%- else -%}
          verticle
      {%- endif -%}"
    role="{%- if orientation == 'horizonal' -%}
        menubar
        {%- else -%}
          menu
      {%- endif -%}"
  >

    {%- render 'management-search',
      bm_link_styles: bm_link_styles,
      management_menu_link_classes: management_menu_link_classes,
      search_is_form: search_is_form,
      search_link_vis: search_link_vis,
      search_width: search_width -%}

    {%- if enable_wish_star and settings.enable_wish_list -%}

      {%- render 'management-star',
        bm_link_styles: bm_link_styles,
        management_menu_link_classes: management_menu_link_classes,
        star_link_vis: star_link_vis -%}

    {%- endif -%}

    {%- render 'management-account',
      bm_link_styles: bm_link_styles,
      management_menu_link_classes: management_menu_link_classes,
      managment_menu_desk: managment_menu_desk,
      account_link_vis: account_link_vis -%}

    {%- render 'management-cart',
      bm_link_styles: bm_link_styles,
      management_menu_link_classes: management_menu_link_classes,
      orientation: orientation,
      cart_link_vis: cart_link_vis -%}

  </ul>
</div>
