{%- assign bm_addresses_title = "addresses.title" | t -%}
{%- assign return_title = "account.return" | t -%}

<div class="bm-addresses py-3 py-xl-5 mb-3 mb-xl-5">
  <div class="bm-addresses__container container-xl px-3 position-relative">
    <div class="bm-addresses__wrapper">

      {%- render 'bm-title-block',
        title_alignment_phone: "text-center",
        title_content: bm_addresses_title,
        title_font: "ff-ivypresto",
        title_margin: "mb-3",
        title_size: "fs-1",
        title_tag: "h1" -%}

      <div class="text-center mb-3 mb-xl-5">

        {%- render 'bm-link',
          bm_link_title: return_title,
          bm_link_classes: "opacity-hover",
          bm_link_url: routes.account_url,
          bm_link_content: return_title -%}

      </div>

      <div class="bm-addresses__content row">
        <div class="col-12 col-xl-6">

          {%- render 'addresses-list' -%}

        </div>
        <div class="col-12 col-xl-6">

          {%- render 'address-new-form' -%}

        </div>
      </div>
    </div>
  </div>
</div>
