{%- capture section_title -%}
  <u>{{ blog.title }}</u>
{%- endcapture -%}

{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

<section
  class="bm-blog {{ section_margin -}}

    {%- if enable_contain %} py-3 py-xl-5
      {%- else %} p-3 p-xl-5
    {%- endif -%}"
>
  <div
    class="bm-blog__container

      {%- if enable_contain %} container-xl px-3{%- endif -%}"
  >
    <header>

      {%- render 'bm-title-block',
        title_alignment_phone: "text-center",
        title_content: section_title,
        title_font: "ff-ivypresto",
        title_margin: "mb-5",
        title_size: "fs-1-4",
        title_tag: "h1",
        title_weight: "fw-light" -%}

    </header>

    {% paginate blog.articles by 9 %}

      <ul class="row list-type-none my-0 ps-0 row">

        {%- for article in blog.articles -%}

          {%- render 'blog-article-item', article: article -%}

        {%- endfor -%}

      </ul>

      {% if paginate.pages > 1 %}
        {%- render 'pagination' paginate: paginate -%}
      {% endif %}

    {% endpaginate %}

  </div>
</section>





