<form action="{{ routes.cart_url }}" class="cart-form" id="cart-form" method="post">
  <div class="cart-form__container d-flex flex-column flex-xl-row">
    <div class="cart-items col-12 col-xl-8 mb-3 mb-sm-5 mb-xl-0 pe-xl-5">
      <ul class="list-type-none ps-0 mt-0 mb-0 border-bottom border-color-grey-10">

        {%- for item in cart.items -%}

          {%- render 'cart-item',
            index: forloop.index,
            item: item -%}

        {%- endfor -%}

      </ul>
    </div>

    {%- render 'cart-recap' -%}

  </div>
</form>
