{%- assign nav_list_main = section_blocks | where: "type", "nav_list_main" -%}
{%- assign nav_list_manage = section_blocks | where: "type", "nav_list_manage" -%}

<div
  id="mobileMenu"
  class="bm-mobile-menu position-absolute top-0 start-0 end-0 bottom-0 overflow-auto"
  aria-hidden="true"
>
  <div class="bm-mobile-menu__container d-flex flex-column">
    <div class="bm-mobile-menu__header-actions d-flex align-items-center justify-content-between px-2">

      {%- capture button_content -%}

        {%- render 'bm-icon-template',
          bm_icon: "icon-close-lg",
          bm_icon_classes: "d-block",
          icon_classes: "d-block" -%}

      {%- endcapture -%}

      {%- render 'bm-btn',
        button_classes: "bm-btn--no-styles p-2"
        button_content: button_content,
        button_id: "mobileMenuClose" -%}

      {%- if nav_list_manage != blank -%}
        <nav>

          {%- assign search_is_form = false -%}
          {%- if nav_list_manage.first.settings.search_format == "form" -%}
            {%- assign search_is_form = true -%}
          {%- endif -%}

          {%- render 'management-menu',
            account_link_vis: nav_list_manage.first.settings.account_link_vis,
            cart_link_vis: nav_list_manage.first.settings.cart_link_vis,
            enable_wish_star: nav_list_manage.first.settings.enable_wish_star,
            managment_menu_classes: "management-menu--phone d-flex align-items-center justify-content-end",
            management_menu_link_classes: "p-2",
            orientation: "horizonal",
            search_is_form: search_is_form.
            search_link_vis: nav_list_manage.first.settings.search_link_vis,
            star_link_vis: nav_list_manage.first.settings.star_link_vis -%}

        </nav>
      {%- endif -%}

    </div>

    {%- if nav_list_main != blank -%}

      {%- render 'main-mobile-nav',
        main_mobile_nav: nav_list_main.first.settings.main_nav -%}

    {%- endif -%}

  </div>
</div>
