.p {
  &-01 {
    padding: $gutterSmaller2 !important;
  }

  &y {
    &-01 {
      padding-bottom: $gutterSmaller2 !important;
      padding-top: $gutterSmaller2 !important;
    }
  }

  &b {
    &-01 {
      padding-bottom: $gutterSmaller2 !important;
    }
  }

  &t {
    &-01 {
      padding-top: $gutterSmaller2 !important;
    }

    &-100 {
      padding-top: 100% !important;
    }
  }
}

.mb-minus {
  &-1 {
    margin-bottom: -$gutterSmaller !important;
  }

  &-2 {
    margin-bottom: -$gutterSmall !important;
  }

  &-3 {
    margin-bottom: -$gutter !important;
  }

  &-4 {
    margin-bottom: -$gutterMedium !important;
  }

  &-5 {
    margin-bottom: -$gutterLarge !important;
  }

  &-sm {
    &-1 {
      @include media-query($min, $phone + 1) {
        margin-bottom: -$gutterSmaller !important;
      }
    }

    &-2 {
      @include media-query($min, $phone + 1) {
        margin-bottom: -$gutterSmall !important;
      }
    }

    &-3 {
      @include media-query($min, $phone + 1) {
        margin-bottom: -$gutter !important;
      }
    }

    &-4 {
      @include media-query($min, $phone + 1) {
        margin-bottom: -$gutterMedium !important;
      }
    }

    &-5 {
      @include media-query($min, $phone + 1) {
        margin-bottom: -$gutterLarge !important;
      }
    }
  }

  &-xl {
    &-1 {
      @include media-query($min, $desktop + 1) {
        margin-bottom: -$gutterSmaller !important;
      }
    }

    &-2 {
      @include media-query($min, $desktop + 1) {
        margin-bottom: -$gutterSmall !important;
      }
    }

    &-3 {
      @include media-query($min, $desktop + 1) {
        margin-bottom: -$gutter !important;
      }
    }

    &-4 {
      @include media-query($min, $desktop + 1) {
        margin-bottom: -$gutterMedium !important;
      }
    }

    &-5 {
      @include media-query($min, $desktop + 1) {
        margin-bottom: -$gutterLarge !important;
      }
    }
  }

  &-xxxl {
    &-1 {
      @include media-query($min, $maxScreen + 1) {
        margin-bottom: -$gutterSmaller !important;
      }
    }

    &-2 {
      @include media-query($min, $maxScreen + 1) {
        margin-bottom: -$gutterSmall !important;
      }
    }

    &-3 {
      @include media-query($min, $maxScreen + 1) {
        margin-bottom: -$gutter !important;
      }
    }

    &-4 {
      @include media-query($min, $maxScreen + 1) {
        margin-bottom: -$gutterMedium !important;
      }
    }

    &-5 {
      @include media-query($min, $maxScreen + 1) {
        margin-bottom: -$gutterLarge !important;
      }
    }
  }
}

.-pdt {
  &-1 {
    padding-top: -$gutterSmaller !important;
  }

  &-2 {
    padding-top: -$gutterSmall !important;
  }

  &-3 {
    padding-top: -$gutter !important;
  }

  &-4 {
    padding-top: -$gutterMedium !important;
  }

  &-5 {
    padding-top: -$gutterLarge !important;
  }

  &-sm {
    &-1 {
      @include media-query($min, $phone + 1) {
        padding-top: -$gutterSmaller !important;
      }
    }

    &-2 {
      @include media-query($min, $phone + 1) {
        padding-top: -$gutterSmall !important;
      }
    }

    &-3 {
      @include media-query($min, $phone + 1) {
        padding-top: -$gutter !important;
      }
    }

    &-4 {
      @include media-query($min, $phone + 1) {
        padding-top: -$gutterMedium !important;
      }
    }

    &-5 {
      @include media-query($min, $phone + 1) {
        padding-top: -$gutterLarge !important;
      }
    }
  }

  &-xl {
    &-1 {
      @include media-query($min, $desktop + 1) {
        padding-top: -$gutterSmaller !important;
      }
    }

    &-2 {
      @include media-query($min, $desktop + 1) {
        padding-top: -$gutterSmall !important;
      }
    }

    &-3 {
      @include media-query($min, $desktop + 1) {
        padding-top: -$gutter !important;
      }
    }

    &-4 {
      @include media-query($min, $desktop + 1) {
        padding-top: -$gutterMedium !important;
      }
    }

    &-5 {
      @include media-query($min, $desktop + 1) {
        padding-top: -$gutterLarge !important;
      }
    }
  }

  &-xxxl {
    &-1 {
      @include media-query($min, $maxScreen + 1) {
        padding-top: -$gutterSmaller !important;
      }
    }

    &-2 {
      @include media-query($min, $maxScreen + 1) {
        padding-top: -$gutterSmall !important;
      }
    }

    &-3 {
      @include media-query($min, $maxScreen + 1) {
        padding-top: -$gutter !important;
      }
    }

    &-4 {
      @include media-query($min, $maxScreen + 1) {
        padding-top: -$gutterMedium !important;
      }
    }

    &-5 {
      @include media-query($min, $maxScreen + 1) {
        padding-top: -$gutterLarge !important;
      }
    }
  }
}

.mg {
  &e {
    &-auto {
      margin-right: auto !important;
    }

    &-1 {
      margin-right: $gutterSmaller !important;
    }

    &-2 {
      margin-right: $gutterSmall !important;
    }

    &-3 {
      margin-right: $gutter !important;
    }

    &-4 {
      margin-right: $gutterMedium !important;
    }

    &-5 {
      margin-right: $gutterLarge !important;
    }

    &-sm {
      &-auto {
        @include media-query($min, $phone + 1) {
          margin-right: auto !important;
        }
      }

      &-1 {
        @include media-query($min, $phone + 1) {
          margin-right: $gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $phone + 1) {
          margin-right: $gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $phone + 1) {
          margin-right: $gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $phone + 1) {
          margin-right: $gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $phone + 1) {
          margin-right: $gutterLarge !important;
        }
      }
    }

    &-xl {
      &-auto {
        @include media-query($min, $desktop + 1) {
          margin-right: auto !important;
        }
      }

      &-1 {
        @include media-query($min, $desktop + 1) {
          margin-right: $gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $desktop + 1) {
          margin-right: $gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $desktop + 1) {
          margin-right: $gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $desktop + 1) {
          margin-right: $gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $desktop + 1) {
          margin-right: $gutterLarge !important;
        }
      }
    }
  }

  &s {
    &-auto {
      margin-left: auto !important;
    }

    &-1 {
      margin-left: $gutterSmaller !important;
    }

    &-2 {
      margin-left: $gutterSmall !important;
    }

    &-3 {
      margin-left: $gutter !important;
    }

    &-4 {
      margin-left: $gutterMedium !important;
    }

    &-5 {
      margin-left: $gutterLarge !important;
    }

    &-sm {
      &-auto {
        @include media-query($min, $phone + 1) {
          margin-left: auto !important;
        }
      }

      &-1 {
        @include media-query($min, $phone + 1) {
          margin-left: $gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $phone + 1) {
          margin-left: $gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $phone + 1) {
          margin-left: $gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $phone + 1) {
          margin-left: $gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $phone + 1) {
          margin-left: $gutterLarge !important;
        }
      }
    }

    &-xl {
      &-auto {
        @include media-query($min, $desktop + 1) {
          margin-left: auto !important;
        }
      }

      &-1 {
        @include media-query($min, $desktop + 1) {
          margin-left: $gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $desktop + 1) {
          margin-left: $gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $desktop + 1) {
          margin-left: $gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $desktop + 1) {
          margin-left: $gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $desktop + 1) {
          margin-left: $gutterLarge !important;
        }
      }
    }
  }

  &t {
    &-auto {
      margin-top: auto !important;
    }

    &-0 {
      margin-top: 0 !important;
    }

    &-1 {
      margin-top: $gutterSmaller !important;
    }

    &-2 {
      margin-top: $gutterSmall !important;
    }

    &-3 {
      margin-top: $gutter !important;
    }

    &-4 {
      margin-top: $gutterMedium !important;
    }

    &-5 {
      margin-top: $gutterLarge !important;
    }

    &-sm {
      &-auto {
        @include media-query($min, $phone + 1) {
          margin-top: auto !important;
        }
      }

      &-0 {
        @include media-query($min, $phone + 1) {
          margin-top: 0 !important;
        }
      }

      &-1 {
        @include media-query($min, $phone + 1) {
          margin-top: $gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $phone + 1) {
          margin-top: $gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $phone + 1) {
          margin-top: $gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $phone + 1) {
          margin-top: $gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $phone + 1) {
          margin-top: $gutterLarge !important;
        }
      }
    }

    &-xl {
      &-auto {
        @include media-query($min, $desktop + 1) {
          margin-top: auto !important;
        }
      }

      &-0 {
        @include media-query($min, $desktop + 1) {
          margin-top: 0 !important;
        }
      }

      &-1 {
        @include media-query($min, $desktop + 1) {
          margin-top: $gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $desktop + 1) {
          margin-top: $gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $desktop + 1) {
          margin-top: $gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $desktop + 1) {
          margin-top: $gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $desktop + 1) {
          margin-top: $gutterLarge !important;
        }
      }
    }
  }
}

.-mg {
  &e {
    &-1 {
      margin-right: -$gutterSmaller !important;
    }

    &-2 {
      margin-right: -$gutterSmall !important;
    }

    &-3 {
      margin-right: -$gutter !important;
    }

    &-4 {
      margin-right: -$gutterMedium !important;
    }

    &-5 {
      margin-right: -$gutterLarge !important;
    }

    &-sm {
      &-1 {
        @include media-query($min, $phone + 1) {
          margin-right: -$gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $phone + 1) {
          margin-right: -$gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $phone + 1) {
          margin-right: -$gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $phone + 1) {
          margin-right: -$gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $phone + 1) {
          margin-right: -$gutterLarge !important;
        }
      }
    }

    &-xl {
      &-1 {
        @include media-query($min, $desktop + 1) {
          margin-right: -$gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $desktop + 1) {
          margin-right: -$gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $desktop + 1) {
          margin-right: -$gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $desktop + 1) {
          margin-right: -$gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $desktop + 1) {
          margin-right: -$gutterLarge !important;
        }
      }
    }
  }

  &s {
    &-0 {
      margin-left: 0 !important;
    }

    &-1 {
      margin-left: -$gutterSmaller !important;
    }

    &-2 {
      margin-left: -$gutterSmall !important;
    }

    &-3 {
      margin-left: -$gutter !important;
    }

    &-4 {
      margin-left: -$gutterMedium !important;
    }

    &-5 {
      margin-left: -$gutterLarge !important;
    }

    &-sm {
      &-0 {
        @include media-query($min, $phone + 1) {
          margin-left: 0 !important;
        }
      }

      &-1 {
        @include media-query($min, $phone + 1) {
          margin-left: -$gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $phone + 1) {
          margin-left: -$gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $phone + 1) {
          margin-left: -$gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $phone + 1) {
          margin-left: -$gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $phone + 1) {
          margin-left: -$gutterLarge !important;
        }
      }
    }

    &-xl {
      &-0 {
        @include media-query($min, $desktop + 1) {
          margin-left: 0 !important;
        }
      }

      &-1 {
        @include media-query($min, $desktop + 1) {
          margin-left: -$gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $desktop + 1) {
          margin-left: -$gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $desktop + 1) {
          margin-left: -$gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $desktop + 1) {
          margin-left: -$gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $desktop + 1) {
          margin-left: -$gutterLarge !important;
        }
      }
    }

    &-xxxl {
      &-0 {
        @include media-query($min, $maxScreen + 1) {
          margin-left: 0 !important;
        }
      }

      &-1 {
        @include media-query($min, $maxScreen + 1) {
          margin-left: -$gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $maxScreen + 1) {
          margin-left: -$gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $maxScreen + 1) {
          margin-left: -$gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $maxScreen + 1) {
          margin-left: -$gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $maxScreen + 1) {
          margin-left: -$gutterLarge !important;
        }
      }
    }
  }

  &t {
    &-0 {
      margin-top: 0 !important;
    }

    &-1 {
      margin-top: -$gutterSmaller !important;
    }

    &-2 {
      margin-top: -$gutterSmall !important;
    }

    &-3 {
      margin-top: -$gutter !important;
    }

    &-4 {
      margin-top: -$gutterMedium !important;
    }

    &-5 {
      margin-top: -$gutterLarge !important;
    }

    &-sm {
      &-0 {
        @include media-query($min, $phone + 1) {
          margin-top: 0 !important;
        }
      }

      &-1 {
        @include media-query($min, $phone + 1) {
          margin-top: -$gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $phone + 1) {
          margin-top: -$gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $phone + 1) {
          margin-top: -$gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $phone + 1) {
          margin-top: -$gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $phone + 1) {
          margin-top: -$gutterLarge !important;
        }
      }
    }

    &-xl {
      &-0 {
        @include media-query($min, $desktop + 1) {
          margin-top: 0 !important;
        }
      }

      &-1 {
        @include media-query($min, $desktop + 1) {
          margin-top: -$gutterSmaller !important;
        }
      }

      &-2 {
        @include media-query($min, $desktop + 1) {
          margin-top: -$gutterSmall !important;
        }
      }

      &-3 {
        @include media-query($min, $desktop + 1) {
          margin-top: -$gutter !important;
        }
      }

      &-4 {
        @include media-query($min, $desktop + 1) {
          margin-top: -$gutterMedium !important;
        }
      }

      &-5 {
        @include media-query($min, $desktop + 1) {
          margin-top: -$gutterLarge !important;
        }
      }
    }
  }
}
