.bm-icon__size {
  &--small-2 {
    height: $iconSizeExtraSmall;
    width: $iconSizeExtraSmall;
  }

  &--small {
    height: $iconSizeSmall;
    width: $iconSizeSmall;
  }

  &--regular-small {
    height: $iconSizeSmallRegular;
    width: $iconSizeSmallRegular;
  }

  &--regular {
    height: $iconSize;
    width: $iconSize;
  }

  &--25 {
    height: $iconSize + 5;
    width: $iconSize + 5;
  }

  &--medium {
    height: $iconSizeMedium;
    width: $iconSizeMedium;
  }
}

.bm-icon {
  &--black {
    fill: $black;
  }
}
