{%- assign qty_label = "cart.qty" | t -%}

<div class="cart-item-qty d-flex align-items-center mb-3">
  <label for="{{ item.key }}" class="d-block bm-colors-color-grey-50 bm-fonts fs-8 me-2">
    {{- qty_label -}}
  </label>

  <div class="cart-item-qty__controls d-flex align-items-center border border-color-grey-10">

    {%- capture minus_content -%}

      {%- render 'bm-icon-template',
        bm_icon: "icon-dash",
        bm_icon_classes: " d-block",
        icon_classes: "d-block bm-icon__size--small" -%}

    {%- endcapture -%}

    {%- render 'bm-btn',
      button_classes: "cart-change-qty cart-minus bm-btn--no-styles p-2",
      button_content: minus_content,
      button_size: "none" -%}

    <input
      class="cart-item__input d-block border-0 p-2 text-center"
      type="number"
      name="updates[]"
      id="{{ item.key }}"
      value="{{ item.quantity }}"
      min="0"
    >

    {%- capture plus_content -%}

      {%- render 'bm-icon-template',
        bm_icon: "icon-plus",
        bm_icon_classes: "d-block",
        icon_classes: "d-block bm-icon__size--small" -%}

    {%- endcapture -%}

    {%- render 'bm-btn',
      button_classes: "cart-change-qty cart-plus bm-btn--no-styles p-2",
      button_content: plus_content,
      button_size: "none" -%}

  </div>
</div>
