<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>

    {%- render 'theme-head' -%}

    {%- render 'bundled-styles', layout: 'theme' -%}

    {{ content_for_header }}

  </head>

  <body class="password gradient">

    {%- section 'password-page-header' -%}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      <div>
        <nav class="text-center">

          {%- render 'bm-link',
            bm_link_is_header: true,
            bm_link_title: "Need help?",
            bm_link_classes: 'opacity-hover p-2 d-block text-decoration-none',
            bm_link_url: "mailto:shop@bethel.com",
            bm_link_content: "Need help?" -%}

        </nav>
      </div>
    </footer>

    {%- render 'theme-footer-scripts' -%}

  </body>
</html>
