<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>

    {%- render 'theme-head' -%}

    {%- render 'bundled-styles', layout: 'theme' -%}

    {{ content_for_header }}

  </head>

  <body class="password gradient">

    {%- section 'password-page-header' -%}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer class="mb-3 mb-xl-5"></footer>

    {%- render 'theme-footer-scripts' -%}

  </body>
</html>
