<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>

  {%- render 'theme-head' -%}

  {%- render 'bundled-styles', layout: 'theme' -%}

  {%- render 'theme-head-scripts' -%}

  {%- section 'filter-menu-settings' -%}

  {%- if settings.enable_quick_view -%}
    {%- render 'sca-quick-view-init' -%}
  {%- endif -%}

  {{ content_for_header }}
</head>
<body>

  {%- render 'theme-main-header' -%}

  <main>

    {{ content_for_layout }}

  </main>

  {%- section 'footer' -%}

  {%- render 'theme-footer-scripts' -%}

  {%- if settings.enable_quick_view -%}
    {%- render 'sca-quick-view-templatevintage' -%}
  {%- endif -%}

</body>
</html>
