<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>

  {%- render 'theme-head' -%}

  {%- render 'bundled-styles', layout: 'theme' -%}

  {%- render 'theme-head-scripts' -%}

  {%- section 'filter-menu-settings' -%}

  {{ content_for_header }}
</head>
<body>

  {%- render 'theme-main-header' -%}

  <main>

    {{ content_for_layout }}

  </main>

  {%- section 'footer' -%}

  {%- render 'theme-modals' -%}

  {%- render 'theme-footer-scripts' -%}

</body>
</html>
