{%- liquid
  for media in media_array
    if media.media_type == "model"
      assign drag = false
    endif
  endfor

  assign arrows = false
  if drag == false
    assign arrows = true
  endif
-%}



<div class="bm-thumbnail-gallery__primary">
  <div
    class="splide bm-thumbnail-gallery__primary-slider"
    data-settings='{%- render "helper-slider-settings",
      arrows: arrows,
      drag: drag,
      change_variant_image: true,
      pagination: false,
      primary_thumbnail: true,
      rewind: true -%}'
  >
    <div class="splide__track">
      <ul class="splide__list">

        {%- for media in media_array -%}
          {%- assign index = forloop.index0 -%}

          {%- if index < 1 and disable_first_image_lazyload %}{% assign disable_lazy = true %}{% else %}{% assign disable_lazy = false %}{% endif -%}

          {%- render 'bm-thumbnail-gallery-media',
            disable_lazy: disable_lazy,
            enable_image_zoom: enable_image_zoom,
            media: media,
            primary: true,
            video_autoplay: video_autoplay,
            video_controls: video_controls,
            video_loop: video_loop -%}

        {%- endfor -%}

      </ul>
    </div>
  </div>
</div>
