<div class="bm-thumbnail-gallery">
  <div class="bm-thumbnail-gallery__container">
    <div class="bm-thumbnail-gallery__wrapper">

      {%- render 'bm-thumbnail-gallery-primary',
        enable_image_zoom: enable_image_zoom,
        image_gallery_widths: image_gallery_widths,
        thumbnail_position: thumbnail_position,
        media_array: media_array,
        video_autoplay: video_autoplay,
        video_controls: video_controls,
        video_loop: video_loop -%}

      {%- render 'bm-thumbnail-gallery-secondary',
        thumbnail_position: thumbnail_position,
        media_array: media_array -%}

    </div>
  </div>
</div>
