.container-footer {
  &-xl {
    @include media-query($min, $desktop + 1) {
      margin: auto;
      max-width: 900px;
    }
  }

  &-lg {
    @include media-query($min, $laptop + 1) {
      margin: auto;
      max-width: 900px;
    }
  }
}

.container-large-xl {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include media-query($min, $desktop + 1) {
    max-width: 1320px !important;
  }
}

.container-xl {
  @include media-query($min, $desktop + 1) {
    max-width: 1025px !important;
  }
}

.small-container {
  &-xl {
    @include media-query($min, $desktop + 1) {
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      padding-left: $gutterMediumSmall;
      padding-right: $gutterMediumSmall;
    }
  }
}
