.bm-predictive-search-modal {
  max-width: 319px;
  min-width: 300px;
  z-index: $zLevelSix;

  @include media-query($min, $desktop + 1) {
    max-width: 400px;
    min-width: 300px;
  }

  .bm-mobile-menu & {
    left: 15px;
    right: 15px;
  }

  mark {
    background-color: $bmVerylightBrown;
  }
}
