// .bm-prod-item {
//   left: $gutterLarge;
//   top: $gutterLarge;
// }

.bm-prod-item__details {
  color: $baseFontColor;
}

.bm-prod-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bm-btn--wish {
  z-index: $zLevelOne;
}
