.bm-prod-item {
  @include media-query($min, $phone + 1) {
    .bm-quick-view {
      opacity: 0;
      transition: opacity $animationTransition ease;
    }
  }

  &:hover {
    .bm-quick-view {
      opacity: 1;
    }
  }
}

.bm-prod-item__details {
  color: $baseFontColor;
}

.bm-prod-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bm-btn--wish {
  z-index: $zLevelOne;
}
