<h6 {% render 'bm-title-block-attributes',
  enable_title_styles: enable_title_styles,
  title_alignment_desk: title_alignment_desk,
  title_alignment_phone: title_alignment_phone,
  title_alignment_tablet: title_alignment_tablet,
  title_background_color: title_background_color,
  title_classes: title_classes,
  title_color: title_color,
  title_content: title_content,
  title_font: title_font,
  title_id: title_id,
  title_italic: title_italic,
  title_is_page_title: title_is_page_title,
  title_labelledby: title_labelledby,
  title_margin: title_margin,
  title_size: title_size,
  title_size_tablet: title_size_tablet,
  title_size_desk: title_size_desk,
  title_tag: title_tag,
  title_visibility: title_visibility,
  title_weight: title_weight -%}>

  {{- title_content -}}

</h6>
