{%- form 'activate_customer_password' -%}
  {%- if form.errors -%}
    {{ form.errors | default_errors }}
  {%- endif -%}

  <input
    type="password"
    class="px-2 py-3 mb-3 border-very-light-brown col-12 field"
    name="customer[password]"
    autocomplete="new-password"
    placeholder="{{ 'general.password' | t }}"
  />

  <input
    type="password"
    class="px-2 py-3 mb-3 border-very-light-brown col-12 field"
    name="customer[password_confirmation]"
    autocomplete="new-password"
    placeholder="{{ 'activate_account.password_confirm' | t }}"
  />

  <div class="bm-activate__actions">
    <div class="bm-activate__actions-container row">
      <div class="col-12 col-sm-6">

      {%- assign submit_title = 'activate_account.submit' | t -%}

      {%- render 'bm-btn-template',
        button_classes: "col-12",
        button_content: submit_title,
        button_size: "large",
        button_title: submit_title,
        button_template: "primary",
        button_type: "submit",
        button_radius: "rounded-5" -%}

      </div>

      <div class="col-12 col-sm-6">

        {%- assign decline_title = 'activate_account.cancel' | t -%}

        {%- render 'bm-btn-template',
          button_classes: "col-12",
          button_content: decline_title,
          button_name: "decline",
          button_size: "large",
          button_title: decline_title,
          button_template: "primary",
          button_radius: "rounded-5" -%}

      </div>
    </div>
  </div>
{%- endform -%}
