{%- assign enable_facebook = footer_bottom.settings.enable_facebook -%}
{%- assign enable_instagram = footer_bottom.settings.enable_instagram -%}
{%- assign enable_pinterest = footer_bottom.settings.enable_pinterest -%}
{%- assign enable_styles = footer_middle.settings.enable_styles -%}
{%- assign enable_twitter = footer_bottom.settings.enable_twitter -%}
{%- assign enable_youtube = footer_bottom.settings.enable_youtube -%}
{%- assign logo_image = footer_bottom.settings.logo -%}
{%- assign logo_title = shop.name | append: ' Home' -%}
{%- assign social_menu_name = "general.social.nav_menu" | t -%}
{%- assign social_menu_title = shop.name | append: ' ' | append: social_menu_name -%}
{%- assign text_color = footer_middle.settings.text_color -%}
{%- assign bm_link_classes = bm_link_classes
  | append: " text-decoration-none opacity-hover d-block px-3 py-2" -%}

{%- if text_color != blank and enable_styles -%}
  {%- capture bm_link_styles -%}
    color: {{ text_color }};
  {%- endcapture -%}
{%- endif -%}

<div class="bm-footer-bottom">
  <nav class="mb-3 mb-xl-4">
    <ul
      class="list-type-none my-0 ps-0 d-flex justify-content-center align-items-center"
      aria-label="{{ social_menu_title }}"
      aria-orientation="horizonal"
      role="menubar"
    >

      {%- if enable_youtube -%}
        {%- assign youtube_title = "general.social.links.youtube" | t -%}

        {%- capture youtube_content -%}

          {%- render 'bm-icon-template',
            bm_icon: "icon-youtube",
            bm_icon_classes: "d-block",
            icon_classes: "d-block bm-icon__size--regular" -%}

        {%- endcapture -%}

        <li role="none">

          {%- render 'bm-link',
            bm_link_role: "menuitem",
            bm_link_title: youtube_title,
            bm_link_classes: bm_link_classes,
            bm_link_url: settings.social_youtube_link,
            bm_link_content: youtube_content,
            bm_link_styles: bm_link_styles -%}

        </li>
      {%- endif -%}

      {%- if enable_twitter -%}
        {%- assign twitter_title = "general.social.links.twitter" | t -%}

        {%- capture twitter_content -%}

          {%- render 'bm-icon-template',
            bm_icon: "icon-twitter",
            bm_icon_classes: "d-block",
            icon_classes: "d-block bm-icon__size--regular" -%}

        {%- endcapture -%}

        <li role="none">

          {%- render 'bm-link',
            bm_link_role: "menuitem",
            bm_link_title: twitter_title,
            bm_link_classes: bm_link_classes,
            bm_link_url: settings.social_twitter_link,
            bm_link_content: twitter_content,
            bm_link_styles: bm_link_styles -%}

        </li>
      {%- endif -%}

      {%- if enable_facebook -%}
        {%- assign facebook_title = "general.social.links.facebook" | t -%}

        {%- capture facebook_content -%}

          {%- render 'bm-icon-template',
            bm_icon: "icon-facebook-f",
            bm_icon_classes: "d-block",
            icon_classes: "d-block bm-icon__size--regular" -%}

        {%- endcapture -%}

        <li role="none">

          {%- render 'bm-link',
            bm_link_role: "menuitem",
            bm_link_title: facebook_title,
            bm_link_classes: bm_link_classes,
            bm_link_url: settings.social_facebook_link,
            bm_link_content: facebook_content,
            bm_link_styles: bm_link_styles -%}

        </li>
      {%- endif -%}

      {%- if enable_instagram -%}
        {%- assign instagram_title = "general.social.links.instagram" | t -%}

        {%- capture instagram_content -%}

          {%- render 'bm-icon-template',
            bm_icon: "icon-instagram",
            bm_icon_classes: "d-block",
            icon_classes: "d-block bm-icon__size--regular" -%}

        {%- endcapture -%}

        <li role="none">

          {%- render 'bm-link',
            bm_link_role: "menuitem",
            bm_link_title: instagram_title,
            bm_link_classes: bm_link_classes,
            bm_link_url: settings.social_instagram_link,
            bm_link_content: instagram_content,
            bm_link_styles: bm_link_styles -%}

        </li>
      {%- endif -%}

      {%- if enable_pinterest -%}
        {%- assign pinterest_title = "general.social.links.pinterest" | t -%}

        {%- capture pinterest_content -%}

          {%- render 'bm-icon-template',
            bm_icon: "icon-pinterest",
            bm_icon_classes: "d-block",
            icon_classes: "d-block bm-icon__size--regular" -%}

        {%- endcapture -%}

        <li role="none">

          {%- render 'bm-link',
            bm_link_role: "menuitem",
            bm_link_title: pinterest_title,
            bm_link_classes: bm_link_classes,
            bm_link_url: settings.social_pinterest_link,
            bm_link_content: pinterest_content,
            bm_link_styles: bm_link_styles -%}

        </li>
      {%- endif -%}

    </ul>
  </nav>

  {%- render 'bm-message-block',
    enable_message_styles: true,
    message_alignment_desk: "text-xl-center",
    message_alignment_tablet: "text-sm-center",
    message_alignment_phone: "text-center",
    message_classes: "opacity-75",
    message_color: text_color,
    message_content: footer_bottom.settings.copyright_message,
    message_margin: "mb-3 mb-xl-4",
    message_size: footer_bottom.settings.copyright_font_size,
    message_weight: footer_bottom.settings.copyright_font_weight -%}

  <nav class="d-flex justify-content-center">

    {%- capture bm_logo -%}
      {%- if logo_image != blank -%}
          {%- render 'bm-image'
            bm_img: logo_image,
            bm_img_alt: logo_image.alt,
            bm_img_max_width: footer_bottom.settings.logo_max_width,
            bm_img_widths: '180',
            bm_img_is_lazy: true,
            bm_img_role: 'logo',
            bm_img_wrapper_classes: "bm-img__wrapper--fixed-width",
            bm_img_classes: "bm-logo__image",
            bm_img_title: logo_title,
            bm_img_width: logo_image.width,
            bm_img_height: logo_image.height -%}

        {%- else -%}
          <span class="d-block fs-4 fw-bold">
            {{- shop.name -}}
          </span>
      {%- endif -%}
    {%- endcapture -%}

    {%- render 'bm-link',
      bm_link_title: logo_title,
      bm_link_classes: 'opacity-hover p-2 d-block text-decoration-none',
      bm_link_url: routes.root_url,
      bm_link_content: bm_logo,
      bm_link_styles: bm_link_styles -%}

  </nav>
</div>
