{%- liquid
  assign show_shop_login = false

  if shop.features.login_with_shop_classic_customer_accounts? and enable_shop_login
    assign show_shop_login = true
  endif
-%}

<div class="bm-login py-3 py-xl-5 mb-3 mb-xl-5">
  <div class="bm-login__container container-xl px-3 position-relative">
    {%- assign bm_login_title = "login_page.title" | t -%}
    {%- assign bm_reset_title = "recover_password.title" | t -%}
    {%- assign formatted_title = bm_login_title | sha1 -%}
    {%- assign title_id = bm_login_title | handleize | append: '-' | append: formatted_title -%}
    {%- assign formatted_reset_title = bm_reset_title | sha1 -%}
    {%- assign title_reset_id = bm_reset_title | handleize | append: '-' | append: formatted_reset_title -%}

    <div class="bm-login-form__container col-12 col-sm-8 col-xl-6 m-auto" aria-hidden="false">

      {%- render 'bm-title-block',
        title_alignment_phone: "text-center",
        title_content: bm_login_title,
        title_font: "ff-ivypresto",
        title_id: title_id,
        title_margin: "mb-3 mb-xl-5",
        title_size: "fs-1",
        title_tag: "h1" -%}

      {%- render 'login-form', title_id: title_id -%}

    </div>

    <div
      class="bm-reset-form__container col-12 col-sm-8 col-xl-6 m-auto bg-white position-absolute top-0 start-0 end-0 bottom-0 d-none"
      aria-hidden="true"
    >

      {%- render 'bm-title-block',
        title_alignment_phone: "text-center",
        title_content: bm_reset_title,
        title_font: "ff-ivypresto",
        title_id: title_reset_id,
        title_margin: "mb-3 mb-xl-5",
        title_size: "fs-1",
        title_tag: "h2" -%}

      {%- render 'pw-reset-form', title_id: title_reset_id -%}

    </div>
  </div>

  {%- if show_shop_login %}<div class="text-center pt-5" name="sign-in-with-shop-provider">{{ shop | login_button }}</div>{% endif -%}
</div>
