{%- assign see_all = 'list_collections.see_all' | t -%}

<div>
  <div
    class="bm-title-divider__wrapper d-flex align-items-center justify-content-between"
  >

    {%- render 'bm-title-block',
      enable_title_styles: enable_title_styles,
      title_alignment_desk: title_alignment_desk,
      title_alignment_tablet: title_alignment_tablet,
      title_alignment_phone: title_alignment_phone,
      title_background_color: title_background_color,
      title_color: title_color,
      title_content: title_content,
      title_classes: title_classes,
      title_font: title_font,
      title_is_page_title: title_is_page_title,
      title_italic: title_italic,
      title_labelledby: title_labelledby,
      title_link: title_link,
      title_margin: title_margin,
      title_size: title_size,
      title_size_tablet: title_size_tablet,
      title_size_desk: title_size_desk,
      title_tag: title_tag,
      title_visibility: title_visibility,
      title_weight: title_weight -%}

    {%- render 'bm-link',
      bm_link_title: see_all,
      bm_link_classes: "opacity-hover bm-colors-color-brown",
      bm_link_url: title_link,
      bm_link_content: see_all,
      bm_link_styles: bm_link_styles -%}

  </div>

  <div class="bm-title-divider__hr border-bottom border-very-light-brown"></div>
</div>
