{%- if bm_img != blank -%}

  <div
    class="bm-image__block

      {%- if bm_img_margin != blank -%}{{- bm_img_margin | prepend: ' ' -}}{%- endif -%}

      {%- if bm_img_visibility != blank %}{{- bm_img_visibility | replace: '_', ' ' | prepend: ' ' -}}{%- endif -%}"
  >
    {%- render 'bm-image'
      bm_img: bm_img,
      bm_img_alt: bm_img.alt,
      bm_img_classes: bm_img_classes,
      bm_img_is_lazy: true,
      bm_img_wrapper_classes: bm_img_wrapper_classes,
      bm_img_widths: bm_img_widths,
      bm_img_width: bm_img.width,
      bm_img_height: bm_img.height -%}
  </div>

{%- endif -%}
