{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

<section
  class="bm-easy-donation {{ section_margin -}}

    {%- if show_background -%}
      {%- if enable_contain %} py-3 py-xl-5
        {%- else %} p-3 p-xl-5
      {%- endif -%}
    {%- endif -%}"

  {%- if show_background -%}
    style="background-color: {{- background_color -}};"
  {%- endif -%}
>
  <div
    class="bm-easy-donation__container

      {%- if enable_contain %} small-container-xl px-3
        {%- else -%}
          {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
      {%- endif -%}"
  >
    <div class="bm-easy-donation__wrapper">

      {%- if donation_img != blank -%}
        <div class="bm-easy-donation__image">

          {%- render 'bm-image'
            bm_img: donation_img,
            bm_img_alt: donation_img.alt,
            bm_img_classes: bm_img_classes,
            bm_img_is_lazy: true,
            bm_img_wrapper_classes: "bm-img__wrapper--fixed-width",
            bm_img_widths: "180,360,540,720",
            bm_img_width: donation_img.width,
            bm_img_height: donation_img.height -%}

        </div>
      {%- endif -%}

      {%- render 'donation' -%}

    </div>
  </div>
</section>


