<div class="custom-item-rows__blocks

  {{- content_width_phone | prepend: ' col-' -}}
  {{- content_width_tablet | prepend: ' col-sm-' -}}
  {{- content_width_desk | prepend: ' col-xl-' -}}"
>
  <ul class="row list-type-none my-0 ps-0">

    {%- for block in section_blocks -%}
      {%- assign item_url = block.settings.item_url -%}
      {%- assign item_width_desk = block.settings.item_width_desk -%}
      {%- assign item_width_max = block.settings.item_width_max -%}
      {%- assign item_width_phone = block.settings.item_width_phone -%}
      {%- assign item_width_tablet = block.settings.item_width_tablet -%}

      {%- if item_width_desk == "inherit" -%}
        {%- assign item_width_desk = item_widths_desk -%}
      {%- endif -%}

      {%- if item_width_max == "inherit" -%}
        {%- assign item_width_max = item_widths_max -%}
      {%- endif -%}

      {%- if item_width_phone == "inherit" -%}
        {%- assign item_width_phone = item_widths_phone -%}
      {%- endif -%}

      {%- if item_width_tablet == "inherit" -%}
        {%- assign item_width_tablet = item_widths_tablet -%}
      {%- endif -%}

      {%- if item_url != blank -%}
        {%- assign bmci_classes = "position-relative" -%}
      {%- endif -%}

      {%- render 'bm-custom-item',
        bmci_classes: bmci_classes,
        bmci_url: item_url,
        block: block,
        image_widths: "180,360,540,720,900",
        item_width_desk: item_width_desk,
        item_width_max: item_width_max,
        item_width_phone: item_width_phone,
        item_width_tablet: item_width_tablet, -%}

    {%- endfor -%}

  </ul>
</div>
