{%- if item_widths_max == "col-xxxl-2" -%}
  {%- assign per_page_max = 6 -%}
  {%- elsif item_widths_max == "col-xxxl-4" -%}
    {%- assign per_page_max = 3 -%}
  {%- elsif item_widths_max == "col-xxxl-6" -%}
    {%- assign per_page_max = 2 -%}
  {%- elsif item_widths_max == "alt-col-xxxl-2" -%}
    {%- assign per_page_max = 5 -%}
  {%- else -%}
    {%- assign per_page_max = 4 -%}
{%- endif -%}

{%- if item_widths_desk == "col-xl-4" -%}
  {%- assign per_page_desk = 3 -%}
  {%- elsif item_widths_desk == "col-xl-6" -%}
    {%- assign per_page_desk = 2 -%}
  {%- elsif item_widths_desk == "alt-col-xl-2" -%}
    {%- assign per_page_desk = 5 -%}
  {%- else -%}
    {%- assign per_page_desk = 4 -%}
{%- endif -%}

{%- if item_widths_tablet == "col-sm-3" -%}
  {%- assign per_page_tablet = 4 -%}
  {%- elsif item_widths_tablet == "col-sm-6" -%}
    {%- assign per_page_tablet = 2 -%}
  {%- else -%}
    {%- assign per_page_tablet = 3 -%}
{%- endif -%}

{%- if item_widths_phone == "col-12" -%}
  {%- assign per_page_phone = 1 -%}
  {%- else -%}
    {%- assign per_page_phone = 2 -%}
{%- endif -%}

<div class="custom-item-rows__blocks

  {{- content_width_phone | prepend: ' col-' -}}
  {{- content_width_tablet | prepend: ' col-sm-' -}}
  {{- content_width_desk | prepend: ' col-xl-' -}}"
>
  <div
    class="splide"
    data-settings='{%- render "helper-slider-settings",
      arrows: true,
      arrows_phone: false,
      autoplay: false,
      autoscroll: false,
      gap: "1.5rem",
      padding_right_phone: "20%",
      pagination: false,
      per_page_desk: per_page_desk,
      per_page_max: per_page_max,
      per_page_phone: per_page_phone,
      per_page_tablet: per_page_tablet,
      rewind: true,
      speed: speed,
      interval: interval -%}'
  >
    <div class="splide__track">
      <ul class="splide__list list-type-none my-0 ps-0">

        {%- for block in section_blocks -%}
          {%- assign bmci_classes = "splide__slide" -%}
          {%- assign item_url = block.settings.item_url -%}
          {%- assign item_width_desk = block.settings.item_width_desk -%}
          {%- assign item_width_max = block.settings.item_width_max -%}
          {%- assign item_width_phone = block.settings.item_width_phone -%}
          {%- assign item_width_tablet = block.settings.item_width_tablet -%}

          {%- if item_width_desk == "inherit" -%}
            {%- assign item_width_desk = item_widths_desk -%}
          {%- endif -%}

          {%- if item_width_max == "inherit" -%}
            {%- assign item_width_max = item_widths_max -%}
          {%- endif -%}

          {%- if item_width_phone == "inherit" -%}
            {%- assign item_width_phone = item_widths_phone -%}
          {%- endif -%}

          {%- if item_width_tablet == "inherit" -%}
            {%- assign item_width_tablet = item_widths_tablet -%}
          {%- endif -%}

          {%- if item_url != blank -%}
            {%- assign bmci_classes = bmci_classes | append: " position-relative" -%}
          {%- endif -%}


          {%- render 'bm-custom-item',
            bmci_classes: bmci_classes,
            bmci_url: item_url,
            block: block,
            image_widths: "180,360,540,720,900",
            item_width_desk: item_width_desk,
            item_width_max: item_width_max,
            item_width_phone: item_width_phone,
            item_width_tablet: item_width_tablet, -%}

        {%- endfor -%}

      </ul>
    </div>
  </div>
</div>
