{%- if modal == blank -%}
  {%- assign modal = false -%}
{%- endif -%}

<div
  class="bm-video

  {%- if bm_video_classes != blank %} {{ bm_video_classes }}{% endif -%}

  {%- if video_visibility != blank %}{{ video_visibility | replace: '_', ' ' | prepend: ' ' }}{% endif %}"
>
  <div class="bm-video__container">
    <div class="bm-video__wrapper position-relative">

      {%- if modal -%}

        {%- render 'bm-video-placeholder',
          autoplay: autoplay,
          content: content,
          content_color: content_color,
          controls: controls,
          interaction: interaction,
          loop: loop
          overlay: overlay,
          thumbnail: thumbnail,
          thumbnail_url: thumbnail_url,
          video_id: video_id,
          video_url: video_url -%}

      {%- endif -%}

      {%- if video_url != blank and modal == false -%}

        {%- render 'bm-video-mp4',
          autoplay: autoplay,
          content: content,
          content_color: content_color,
          controls: controls,
          interaction: interaction,
          loop: loop,
          video_src: video_url,
          thumbnail_alt: thumbnail_alt,
          thumbnail_url: thumbnail_url,
          video_url: video_url,
          video_visibility: video_visibility -%}

        {%- elsif modal == false -%}

          {%- if content != blank -%}

            {%- render 'bm-video-content',
              content: content,
              content_color: content_color -%}

          {%- endif -%}

          {%- render 'bm-video-iframe',
            autoplay: autoplay,
            controls: controls,
            interaction: interaction,
            loop: loop,
            video_id: video_id
            video_visibility: video_visibility -%}

      {%- endif -%}

    </div>
  </div>
</div>
