{%- assign video_url_tail = video_url | split: '/medias/' -%}
{%- assign video_url_id_half = video_url_tail.last -%}

{%- if video_url contains "jsonp" -%}
  {%- assign video_url_id = video_url_id_half | split: '.' -%}
  {%- assign wistia_id = video_url_id.first -%}
  {%- else -%}

    {%- if video_url_id_half contains "?" -%}
      {%- assign video_url_id = video_url_id_half | split: '?' -%}
      {%- assign wistia_id = video_url_id.first -%}
      {%- else -%}
        {%- assign wistia_id = video_url_id_half -%}
    {%- endif -%}

{%- endif -%}

{%- assign video_thumbnail_url = "https://fast.wistia.com/embed/medias/"
  | append: wistia_id
  | append: '/swatch' -%}

{%- capture site_image_attributes -%}
  aria-hidden="true"
{%- endcapture -%}

<div
  class="wistia-video position-absolute top-0 start-0

    {%- if d_none %} d-none{%- endif -%}"

  {%- if wistia_id != blank -%}
    data-wistiaid="{{- wistia_id -}}"
  {%- endif -%}

  {%- if interaction == false %}
    style="pointer-events: none;"
  {%- endif %}
>
  <div
    class="wistia_embed bm-video__wistia

      {%- if wistia_id != blank %} wistia_async_{{- wistia_id -}}{%- endif -%}"
  >

    {%- if wistia_id != blank -%}

      {%- render 'bm-image'
        bm_img: banner_image_desk,
        bm_image_attributes: site_image_attributes,
        bm_img_classes: "wistia_swatch_image",
        bm_img_is_lazy: true,
        bm_img_wrapper_classes: "bm-img__wrapper--fixed-width wistia_swatch position-absolute top-0 start-0",
        data_srcset: video_thumbnail_url -%}

    {%- endif -%}

  </div>
</div>
