<div class="bm-page py-5">
  <div class="bm-page__container container-xl px-3">
    {%- assign bm_page_title = page.title | escape -%}

    {%- render 'bm-title-block',
      title_alignment_phone: "text-center",
      title_content: bm_page_title,
      title_font: "ff-ivypresto",
      title_margin: "mb-5",
      title_size: "fs-1",
      title_size_tablet: block.settings.font_size_tablet,
      title_size_desk: block.settings.font_size_desk,
      title_tag: "h1",
      title_weight: block.settings.font_weight -%}

    <div class="bm-rte">
      {{- page.content -}}
    </div>
  </div>
</div>
